[2012-12-04 02:01] johnynek opened #44 "Approximate collections API."
There is something going on with some of the data-structures we have here: BloomFilter is a kind of approximate Set. HyperLogLog is an approximate set with Cardinality. Count-min-sketch is an approximate Map (so Count-min-sketch has an approximate set on the keys).

I think we could define a few traits to represent these concepts.

Something like:

[code]

In fact, most of these have false neg pro

[2012-12-06 21:26] johnynek opened #50 "Add join method to Aggregator object"
We need to add something like:

[code]

[2012-12-08 01:09] johnynek opened #59 "PairMonoid/Semigroup to combine Set/Hyperloglog"
Here is the idea, two functions:

[code]

Then, shouldConvert(s: Set[T]) = s.size > threshold, and convert(s: Set[T]): HLLInstance = iterate over all the items and insert them.

In this way, we can make a monoid that is exact when size is small, and converts to approximate when we cross some size boundary (say about the size of the serialized hyperloglog).

We can do the same with count-min-sketch

[2012-12-10 04:09] azymnis opened #61 "Some code duplication in tests"
Currently a lot of the tests contain code for doing approximate equality of maps, lists, etc. It would be nice to move these to a common trait.

[2012-12-19 01:39] ccsevers opened #83 "More Hashable discussion"
It seemed like there was some progress here: https://github.com/twitter/algebird/pull/35

Did anything get decided? It would be nice to be able to use other types in bloomfilter (and implement a bloom join).

I'd be happy to help out with it but I don't want to step on anything in progress.

[2012-12-19 05:08] avibryant opened #84 "Generalize Sparse/Dense vector"
The recent refactoring of HLL does almost exactly what I am contemplating doing with MinHash, except that HLL is Map[Int,Max[Byte]] and I would want Map[Int,Min[Int]]. I'm wondering if we want to generalize to a OptionallySparseVector[V], with an OptionallySparseVectorMonoid[V:Monoid]. (Better name would be appreciated).

[2013-01-07 03:57] avibryant opened #99 "Use Spire's typeclasses."
Not trolling. The definitions of Semigroup, Monoid, VectorSpace etc in https://github.com/non/spire are not obviously incompatible with us, and it might be nicer for the broader Scala community if we could unify.

[2013-02-04 19:15] johnynek opened #110 "Use scala.math.Equiv[T] where we need generic equivalence."

[2013-02-19 18:36] johnynek opened #128 "Deal with Abelian/Commutative objects better."
There are often optimizations the can be done if a semigroup/monoid/group is commutative.

How can we best communicate that?

Two obvious solutions: a property of the instance (`.isCommutative`). This rules out the ability to have some methods that only apply to commutative objects (because that check is at runtime).

A second type-class approach would be something like:

[code]

We can add instan

[2013-03-12 21:52] johnynek opened #142 "Add a dense matrix type with semigroup/monoid/group/ring"
use this in CMS.

[2013-03-13 03:40] johnynek opened #143 "Add java specific docs"
https://github.com/typesafehub/genjavadoc

[2013-04-08 12:27] johnynek opened #156 "Use sbt-boilerplate instead of custom codegen"
https://github.com/sbt/sbt-boilerplate

That might be cleaner to generate the tuple/product algebras.

[2013-06-25 22:49] johnynek opened #172 "need serializers for bloomfilter, CMS, etc...."
everyone will want to store these.

Probably a bufferable is the way to go.

[2013-06-28 17:04] avibryant opened #177 "Mergeable summaries"
There's some good stuff in here that's very relevant:
http://www.cse.ust.hk/~huangzf/mergeable.pdf

In particular, it describes how to merge SpaceSaver, which is the best-performing heavy-hitters estimator.

[2013-07-17 17:30] sritchie opened #184 "Github Project Page"
We need to add a Github project page to evangelize this project a bit more. I think that this is going to become quite important with the Summingbird release.

[2013-08-21 21:01] edwardnewett opened #193 "Add @transient to BloomFilter BFInstance member"
When serializing the BloomFilter, the lazy val BFInstance of BFSparse can end up included if, for instance, size was accessed.  It's possible the other lazy vals should be @transient too but this is the only one that ends up using significant storage space.

[2013-10-01 05:05] johnynek opened #203 "profile and optimize CountMinSketch and SketchMap."

[2013-10-01 05:06] johnynek opened #205 "Profile and optimize HyperLogLog."

[2013-10-03 01:14] johnynek opened #208 "Make sure Aggregator uses sumOption"

[2013-10-08 22:14] johnynek opened #214 "StatefulSummer should return TraversableOnce[V] not Option[V]"
We can easily imagine cases where we want to flush more than one item.

This is currently done with Option[Traversable[V]] which is a bit of a hack and limits the composability.

Consider changing this to a

[code]

[2013-10-12 17:53] johnynek opened #218 "ConicMonoid: when values are always increasing."
[code]
Name from https://twitter.com/DRMacIver/status/388935423709704192

[2013-11-01 14:54] phaefele opened #233 "Moving Average is mentioned on front page, but unable to find in code"
On the main wiki page it mentions that Algebird handles moving average calculations, but I am unable to find which class implements this. I'd like to understand the code for this in more detail. I searched the codebase and the docs, but wasn't able to find anything that looked likely. If someone could point me to the right file, that would be very helpful. Thanks in advance.

[2013-11-07 19:45] sirinath opened #236 "Breeze, Spire, Scalaz interop"
Hi,

There are areas of overlap between the above projects. Is it possible to look at working together and merging the implementations of the overlap so use of packages of one or the other can interop without the pain.

Suminda

[2013-12-27 06:32] MansurAshraf opened #247 "Proposal: Add a Type Class to generalize flatMap using unFold"
It would be nice to have a type class for `unfold :: (b -> Maybe (a, b)) -> b -> [a]`. I did some quick n dirty hacking  and it seems like it will work but I am not sure how _useful_ it would be and hence need opinions of you fine gentlemen. This is how it will look like at a high level

[code]

then you have  partitioner defined as follow

[code]

Now once you have an instance of Partitioner type

[2014-02-25 00:47] cheecheeo opened #273 "SketchMap: heavyHitterKeys should be a Set"
https://github.com/twitter/algebird/blob/develop/algebird-core/src/main/scala/com/twitter/algebird/SketchMap.scala#L202 should morally be a set rather than a list. The ordering of the heavyHitterKeys is unnecessary.

[2014-02-26 08:19] johnynek opened #281 "IndexedSeq is a pseudoRing fails sometimes"
Looks like args of `IndexedSeq(0, 0) , IndexedSeq(big_number_here)` is failing. Probably around the zero filling assumption.

[2014-05-07 21:23] julienledem opened #316 "Add algebird-java utilities to make it easier to use from Java"
For example:
[code]
as in:
https://github.com/julienledem/summingbird/blob/d88553b193c24b39175bb19e3bab46deb5006997/summingbird-core/src/main/java/com/twitter/summingbird/javaapi/JProducers.java#L83

[2014-09-12 13:38] miguno opened #345 "A generic version of CountMinSketch[T] to decouple CMS from Long?"
_This is a question about a) whether this is a good idea in general and b) whether you'd be interested in a PR with draft code._

**"Why should I care about this issue?"**

If we had a way to use CMS with "bigger" number types than `Long` we would be able to cover use cases that require counting more distinct elements than can fit into the range of Long (which is `2^64` bits).  This would allow, f

[2014-10-15 09:46] miguno opened #353 "CMS computes heavy hitters incorrectly when combining CMS instances with ++"
_This is a follow-up on a conversation I had with @johnynek and @avibryant on Twitter.  Many thanks to both of you for your help on narrowing this down.  And please do let me know if I'm mistaken with what I'm writing here._

From what I understand today, I think I was partly right and partly wrong in my Twitter comments from yesterday:

* I was right right in the sense there currently _is_ a bug

[2014-11-14 22:26] asciola opened #357 "(commutative)MonoidLaws Tests pass when they shouldn't"
This monoid:
[code]

Passes this test:
[code]

[2014-11-19 08:40] miguno opened #360 "Decide on the future of SketchMap, CMS, SpaceSaver"
_This ticket is a follow-up on the discussion we had in the [pull request 354](https://github.com/twitter/algebird/pull/354), i.e. the `CMS[K]` pull request._

Algebird currently has the three data structures with overlapping functionality, and the question is whether we could/should consolidate them in some way -- primarily to reduce maintenance cost.
- [SketchMap](https://github.com/twitter/alge

[2014-12-05 00:16] johnynek opened #369 "Add MultiAggregator.apply"
[code]
is nicer than ```GeneratedTupleAggregator.from3(agg1, agg2, agg3)```

Add an object with 22 apply methods for ergonomic usage.

[2014-12-12 23:13] joshualande opened #377 "Possible off by 1 error for QTrees"
+ @avibryant

I was playing around with the QTree, and I think there may be an off-by one error in the implementation.

Consider this code snippet:
[code]
This returns:
[code]
Shouldn't the median of the list (1, 2, 3) be 2, not 1?

Out of curiosity, I tried the numbers 1 to 11, and got a median of 5 instead of 6.

And I tried the numbers 1 to 101 and got a median of 50 instead of 51.

I also trie

[2014-12-13 01:45] johnynek opened #378 "Make sure the benchmarks run in Travis"
They are not running now.

[2014-12-13 01:46] johnynek opened #379 "Profile and benchmark all the things"
Making CMS, SketchMap, HLL, QTree, Bloomfilter, as fast as possible would be really great.

[2014-12-16 13:10] miguno opened #381 "Serialization errors when using new CMS implementation in Storm"
I noticed serialization errors when using the new (not yet officially released) CMS implementation in a Storm cluster.

# When does it happen?

Exceptions are thrown whenever you want to use the new CMS implementation in a topology that is submitted to a Storm cluster, i.e. in a scenario where the CMS classes need to be serialized/deserialized.

# Example errors

Example 1: When submitting a topol

[2014-12-29 23:21] johnynek opened #388 "Fix CMS test issue"
https://travis-ci.org/twitter/algebird/jobs/45400192#L671

Looks like we don't guard the inputs to one of the test properties carefully enough and there is some chance of getting an invalid input.

[2015-01-07 12:38] #381 closed

[2015-01-07 15:26] miguno opened #392 "New CMS: Improve hashing of BigInt"
## Summary

The latest implementation of CMS ships with a default hashing implementation for `BigInt` that is based on the previous hashing approach for `Long`.  Unfortunately, this implementation for `BigInt` is "broken" in my opinion.

I think I have found a clean fix, which I will send in a separate pull request.  It's actually only a few lines of code, and the reason I am writing this ticket i

[2015-01-07 16:57] johnynek commented on #392
Once again, an amazingly detailed and rigorous contribution.

This looks great to me. Thank you.

[2015-01-07 18:53] miguno opened #393 "CMS: Do we support negative counts and/or is computing inner products broken?"
## Background

I came across this question while debugging a failing test (computing the inner product) for CMS with the proposed new hashing code for `BigInt` discussed at #392.  The failing test in question is ["estimate inner products"](https://github.com/twitter/algebird/blob/develop/algebird-test/src/test/scala/com/twitter/algebird/CountMinSketchTest.scala#L198).

I noticed that with the old/

[2015-01-07 19:24] jnievelt commented on #393
I believe it is not supported.  See:

https://github.com/twitter/algebird/blob/cdaa2b2fe735093d1cd45dc63783f4253d3e5cca/algebird-core/src/main/scala/com/twitter/algebird/CountMinSketch.scala#L500

Granted, it doesn't seem to be enforced as exhaustively as it could be.  For example, I believe it would be possible to build a `CMSInstance.CountsTable` with negative counts and build a `CMSInstance` fr

[2015-01-07 20:19] miguno commented on #393
All good points, Joe, and thanks for the quick feedback!

Yes, the inputs to the inner product test are always positive:

[code]

Example (same for `data2`):

[code]

From what I understand, yes:  If the input counts are positive, then there should never be negative results.

1. The counting table is initialized with all zeroes.
2. Assuming positive input counts, the `update` function in CMS (in A

[2015-01-07 20:41] jnievelt commented on #393
Ah, of course.  `frequency` is a special case of `innerProduct` (i.e., `innerProduct` of a `CMS` with a `CMSItem`).  And it's pretty easy to see how `frequency` could give a negative lower bound.  So my guess is that we'd want to `math.max(0L, _)` on the lower part for `innerProduct` as well.

What failures are you seeing when you run those tests?  Are they expecting approximations with negative l

[2015-01-07 22:37] miguno commented on #393
The error I am seeing looks as follows:

[code]

In this specific example ouput of the failure, the generated `Approximate` instance was:

[code]

with associated local test variables (see test code below):

[code]

I started digging into negative minimums of `Approximate` because I noticed that all the other CMS variants for which the tests passed (`CMS[Long]`, `CMS[Int]`, `CMS[Short]`) showed ne

[2015-01-07 22:52] miguno commented on #393
And another surprise:  It looks as if the inner product test passes for the current CMS code only by sheer luck. :-)

When I _lower_ the `totalCount` value to, say, `2000`, then the inner product test begins to fail indiscriminately for all CMS variants (i.e. Long, Int, Short, BigInt).

[code]

results in (here: `CMS[Int]` test spec):

[code]

When using `totalCount = 3190`, for example, the test

[2015-01-07 22:59] miguno commented on #393
PS: If this turns out to be a legitimate issue, then we should probably use a ScalaCheck-based property test for estimating inner products instead of a single test fixture.

[2015-01-08 00:27] jnievelt commented on #393
It seems the failure you're seeing stems from the higher estimate, as the `eps * totalCount * totalCount` should come out the same for any key type.  The primary suspect would be a hashing algorithm which collides more often than the others.

Have you looked at how these number come out against the existing BigInt hashing?  It might also be useful to similarly compare approximations coming back fr

[2015-01-08 14:29] miguno commented on #393
I finally found and solve the issue.  There were bugs in the code as well as in the tests (I spend a lot of time figuring why the fixed code supposedly wasn't working until I realized the tests were broken).  I will sent a pull request via #392 shortly.

[2015-01-08 15:42] miguno commented on #392
FWIW here are the benchmark results for the committed code.  No changes apart from removing the Google Guava variants for Murmur3 because I didn't want to introduce a dependency on Guava just for this benchmark.

`MurmurHashScala*` is the new hash function we use for `BigInt` in CMS.

[code]

[2015-01-08 23:00] reconditesea opened #396 "QTree method to query a specified value's quantile given a quantile range"
Sorry if I've missed this.
I occasionally will have a need to get a value's approximated quantile within the whole data stream, with a given quantile granular (e.g. val quantileList = 0.05 to 1 by 0.05). Not sure if there is a better way to do this, but what I always do is: compute the quantile middle point for each element in quantileList; then search for the first one that is larger than the giv

[2015-01-11 22:26] #388 closed

[2015-01-14 05:46] johnynek opened #398 "We should have a default hasher for Strings for CMS"
Here are two approaches:

1) hash using Murmur to Long, then use the Long universal hash functions.

2) append the a and b we get for the family of hashes and use Murmur on the whole block.

We could also add `Array[Byte]` while we are at it since we will probably go through that anyway.

[2015-01-14 08:21] #393 closed

[2015-01-14 08:21] #353 closed

[2015-01-14 08:22] #345 closed

[2015-01-14 08:51] miguno commented on #398
That's a good suggestion.  I have been thinking about the very same as we have been using `CMS[BigInt]` to effectively do `CMS[String]` (you can easily convert BigInt<->String with built-in methods). :-)

Hmm.  Why would you want to hash twice, i.e. `hashLong(hashMurmur(s))` to get the desired `Int`?

Murmur already gives us the desired `Int`, hence doing only `hashMurmur(s)` is faster.  Furthermo

[2015-01-14 20:58] johnynek commented on #398
The ones you posted here seem good to me.

I wonder if we could cleanly make a contramap method on the count-min-sketch monoid so that we could take a function from `L => K` on a `CMS[K]` monoid to produce `CMS[L]` monoid. This might make it easy to work with, say, the `CMS[String]` monoid and use `(_.toString)` as a cheap function to get a quick and dirty CMS.

[2015-01-14 20:59] johnynek commented on #392
Thank you again for your careful and complete work. It is appreciated.

[2015-01-14 20:59] #392 closed

[2015-01-15 17:43] miguno commented on #398
I like the contramap idea!  I sent a pull request with a first draft.

[2015-01-17 01:01] isnotinvain opened #402 "Release either 0.8.3 or 0.9.0"

[2015-01-17 01:03] isnotinvain commented on #402
Looks like we've got some incompatibilities.

[code]

[2015-01-17 01:06] isnotinvain commented on #402
These look like real incompatibilities, so would that make this release 0.9.0?

[2015-01-17 01:44] johnynek commented on #402
looks like.

Note, I'd like to see these merged:
#387 #401 #391 (with more tests)

[2015-01-17 01:44] avibryant commented on #402
The signature for `Aggregator` definitely changed, for example, from `reduce` to `semigroup`. (I'm of mixed opinion about that but shrug).

[2015-01-17 01:45] avibryant commented on #402
I'd also really love to get #400 merged (I'll try to get it in shape to do so tonight, if I can, otherwise Monday).

[2015-01-17 03:45] johnynek commented on #402
Reduce to semigroup was important because semigroup has sumOption and the tuple semigroups make an effort to preserve that. With only reduce we lose that, so optimizations there are lost.

[2015-01-17 06:59] avibryant opened #403 "Joining together MonoidAggregators should produce a MonoidAggregator"
Right now if you do any kind of join on multiple instances of MonoidAggregator you get an Aggregator back. It would be nice if, in the case that everything being joined is itself a MonoidAggregator, you got something that was still a MonoidAggregator.

[2015-01-20 21:11] isnotinvain commented on #402
@johnynek @avibryant do you think those 4 PRs will be ready to merge today? If not, I think I might have to do a release with what's currently in develop and then circle back for another release when these are ready. This release is just part of walking the dependency graph for releasing scalding and we were hoping to get that out by tomorrow.

Thanks!

[2015-01-20 21:53] avibryant commented on #402
As far as I'm concerned, my two (#400 and #391) are ready. @johnynek might disagree :)

[2015-01-20 22:21] MansurAshraf opened #404 "Self Learning bitmap"
I was wondering if someone has seen this paper from google. it is solving the same problem as HLL but is scale invariant and has better memory consumption. Below is the abstract.

Abstract:
*In this paper, we develop a novel approach, called self-learning bitmap (S-bitmap) that is scale-invariant for cardinalities in a specified range. S-bitmap uses a binary vector whose entries are updated from 0

[2015-01-20 22:42] avibryant commented on #404
Looks interesting, but I suspect it's not associative (or commutative).

[2015-01-21 07:39] isnotinvain commented on #402
develop branch is failing after merging #387
[code]
https://travis-ci.org/twitter/algebird/jobs/47732278

This actually looks related to #391 // @avibryant

[2015-01-21 16:30] avibryant commented on #402
Grr, I guess that test needs to be weakened a bit. @isnotinvain this should do it? https://github.com/twitter/algebird/pull/405

[2015-01-21 20:09] isnotinvain commented on #402
Great, thanks!

[2015-01-21 21:47] isnotinvain commented on #402
Created #406 to upgrade bijection, once that's merged I'll do the release. Thanks all!

[2015-01-21 23:28] #402 closed

[2015-01-22 01:41] jnievelt commented on #404
There doesn't seem to be any reduction possible (associative, commutative, or otherwise).  It only defines:

B2 = B1 + x

not

B3 = B1 + B2

[2015-01-29 18:41] #369 closed

[2015-01-30 20:05] johnynek commented on #403
this would be good.

[2015-01-30 21:11] #403 closed

[2015-02-16 20:12] MasseGuillaume opened #415 "This repo should be deleted"
[this evidence](https://github.com/twitter/algebird/blob/0.9.0/algebird-core/src/main/scala/com/twitter/algebird/Monad.scala#L39) is a blatant disregard to [Twitter's effective scala guidelines](http://twitter.github.io/effectivescala/#Types and Generics)

[2015-02-16 20:38] johnynek commented on #415
I assume this is a joke and a critique of that guide. Also, the joke seems to rely on the idea that somehow all of the engineers at Twitter have one opinion which is accurately reflected in the guide.

[2015-02-16 20:38] #415 closed

[2015-02-16 20:51] travisbrown commented on #415
@MasseGuillaume Effective Scala only explicitly mentions type-level programming, and it's possible to draw a reasonably clear line between e.g. type-level arithmetic and the use of abstractions like monads.

I personally think that some of the language in Effective Scala (notably "these techniques rarely find useful application in production code") is a little more confrontational than is necessar

[2015-02-16 21:06] MasseGuillaume commented on #415
@johnynek yep just trolling. I was kinda chocked when I found the citation @travisbrown mentionned.

[2015-02-17 18:57] johnynek opened #416 "Remove Extension on MonoidAggregator at next release."

[2015-02-17 18:58] ianoc commented on #416
little more context might be good, not sure what you mean here?

[2015-02-17 18:58] johnynek commented on #416
:) I am adding a pull request, but I want to add this issue now. :)

[2015-02-17 19:16] ianoc commented on #416
Ahh ok, makes more sense! :)

[2015-02-17 19:30] johnynek commented on #416
Fracking compiler bug won't let me enrich MonoidAggregator. Giving up.

[2015-02-17 19:30] #416 closed

[2015-02-25 05:11] MansurAshraf opened #420 "Most property tests are not running"
Most property test not running due to Scalacheck/scalatest integration. I am working on a fix, @johnynek please dont merge any other PR till this is resolved as tests are not running right now

[2015-02-25 06:00] MansurAshraf commented on #420
fix https://github.com/twitter/algebird/pull/421

[2015-03-02 22:18] franklinhu opened #423 "Algebird release for Preparer fix"
It'd be awesome to get an algebird release so we can use the Preparer in Summingbird after they were fixed (see https://github.com/twitter/algebird/pull/422).
Thanks!

[2015-03-11 19:26] miguno commented on #398
This ticket can be closed as this functionality is covered in https://github.com/twitter/algebird/pull/399, which will be included in upcoming Algebird 0.10.

[2015-03-13 18:34] #398 closed

[2015-04-01 21:32] johnynek commented on #423
we are gearing up for a release soon.

[2015-04-01 21:34] johnynek opened #429 "QTree pruneChildrenWhere is really slow"
We are seeing jobs using more than 60% of their CPU in that method. This is uncommon on hadoop (usually the most expensive stuff is serialization, sorting and compression).

[2015-04-01 21:39] avibryant commented on #429
Yeah, I was worried about that. I think pruning on every merge is probably crazy; it's just not clear to me what the best heuristic is to decide when it's worth pruning.

[2015-04-10 12:07] bismoy2013 opened #432 "How do I get started with this project ?"
Is there any way that I can contribute to this project ? Hope someone can get back to me on this .

[2015-04-11 01:12] isnotinvain commented on #432
Pull requests are always welcome! Just "fork" the repository and send a pull request.
You can take a look at the open issues as well, or start a discussion on https://groups.google.com/forum/#!forum/algebird

[2015-04-12 11:45] bismoy2013 commented on #432
Sure :) that definitely makes sense !

[2015-04-12 11:45] #432 closed

[2015-04-22 23:01] perryzheng opened #435 "Implement randomized LSH according to Chazelle's paper"
http://courses.cs.washington.edu/courses/cse521/15sp/slides/LSH-CACM.pdf

See bottom of page 119 for LSH pseudocode and see section 4  for a new implementation.

My implementation might not be the same as section 4 but a variation of it.

Let me know if that's a good idea

[2015-04-22 23:36] MansurAshraf commented on #435
How does it compare to MinHash as we already have minhash impl? Other things to consider is whether its associative, commutative etc

[2015-04-24 04:14] avibryant commented on #435
MinHash is for jaccard distance, this is for euclidean distance. However, it's not clear to me whether this belongs in algebird or scalding...

[2015-04-28 07:02] perryzheng commented on #435
Hey @avibryant , based on this paper, http://www.cs.princeton.edu/courses/archive/spr05/cos598E/bib/p253-datar.pdf section 3, it uses say gaussian distribution as a sketch for the high dimensional vector. 1 important question.. This could be expressed in terms of monoids and thus could be part of algebird, right? I'm honestly not very clear

[2015-04-28 16:02] avibryant commented on #435
Gaussian distributions form a monoid, yes. (And actually I would love to see Gaussian added to Algebird, just in itself).

[2015-05-05 19:14] johnynek opened #436 "Add QTreeAggregators"
give a simple way to get percentiles using an Aggregator.

[2015-05-05 19:16] #420 closed

[2015-05-05 19:18] johnynek commented on #404
Should we add things like this as `Fold` instances? You can't get any parallelism, but at least you can still easily run them on scalding/spark, etc...?

[2015-05-05 19:20] johnynek commented on #436
This would just be something like:

1) create a QTreeSemigroup of the right size (with Unit value).
2) andThenPresent to get out the percentiles you want.

[2015-05-05 19:23] johnynek opened #437 "MomentsAggregator should have a Numeric version"
MomentsAggregator requires a Double input. We could composePrepare to get a double from a `Numeric[N]` similar to what was done with AverageValue.

[2015-05-06 01:32] johnynek commented on #437
Actually this already exists: https://github.com/twitter/algebird/blob/0.9.0/algebird-core/src/main/scala/com/twitter/algebird/MomentsGroup.scala

[2015-05-06 01:32] #437 closed

[2015-05-06 02:39] johnynek opened #439 "Add Hash128 typeclass"
Right now, we are passing around implicit `K => Array[Bytes]` where we really want a Hash128.

I suggest something like:

[code]
We need to be careful: if we change the way hashing works, we will break stored HLLs.

Perhaps the safest way to go is to not change any of the old code paths, and instead add a new code path that uses the Hash128 which has some defaults setup. But otherwise, all the old

[2015-05-14 17:39] #436 closed

[2015-05-14 18:05] johnynek commented on #432
@bismoy2013 also look at the open issues. We have a ton. You can ask for clarification as needed. We are trying to get better about using labels as well.

[2015-05-14 19:21] johnynek commented on #377
I see two tasks here: 1) convert Josh's examples into property tests. 2) fix the issue.

[2015-05-21 19:47] johnynek commented on #439
closed by #440

[2015-05-21 19:47] #439 closed

[2015-05-21 19:48] johnynek commented on #423
This is done right? reopen if you have any issue.

[2015-05-21 19:48] #423 closed

[2015-05-21 19:52] johnynek opened #445 "Add Macros for case class Algebraic structures"
Similar to the tuple case, we should be able to:

[code]
and be good to go.

[2015-05-21 19:54] johnynek opened #446 "add sumOption to GeneratedProductMacros"
See: https://github.com/twitter/algebird/blob/develop/algebird-core/src/main/scala/com/twitter/algebird/GeneratedProductAlgebra.scala

Issues:

1) sumOption is not implemented.
2) Monoid does not extend the Semigroup (and on down), so it also does not have a fast sum.

Need to follow more closely the approach of Tuple:
https://github.com/twitter/algebird/blob/develop/algebird-core/src/main/scala/c

[2015-06-09 01:59] perryzheng commented on #435
Submitted a pull request at https://github.com/twitter/algebird/pull/449

[2015-06-12 00:10] johnynek opened #450 "Add a non-sparse MapMonoid/Semigroup/Group/etc..."
`plus(Map("hey" -> 0), Map()) == Map()` which surprises people (that zeros are removed). In many cases, you want this, in many cases you don't.

We could change the default, but that might break people, or we could add something like:

[code]
to opt in to dense versions of all the objects.

[2015-06-12 00:19] johnynek commented on #450
Work around now by doing a `.mapValues(Option(_))` and this will make it dense, but that's ugly.

[2015-06-12 01:30] ianoc commented on #450
It's also likely slower too I suppose. More allocations of the options. I
think importing the sense would be good

On Thursday, June 11, 2015, P. Oscar Boykin <notifications@github.com>
wrote:

[2015-06-12 04:26] jnievelt commented on #450
I disagree with the use of dense/spare in this context.  It's more a matter of determining which keys are valid.  Dense and sparse are typically not a functional distinction like that.  For example, both dense and sparse vectors will have a size property with the understanding that indices in [0, size) are valid.

One could imagine, for instance, a 'sparse' Map-like Monoid (or Map Aggregator) whic

[2015-06-12 05:10] avibryant commented on #450
Agree with @jnievelt on the terminology being wrong there; "dense" to me means that the keys have a known, finite domain and that storage is pre-allocated for all of them.

The `Option` workaround wouldn't work, would it? Because the zero for the Option monoid is `None`, which means the `None`s will get dropped just like any other 0 would.

[2015-06-12 05:13] jnievelt commented on #450
It works because `Some(0)` != `None`

[2015-06-12 05:21] avibryant commented on #450
Oh right, of course.

One term that comes to mind, instead of dense, is `monotonic` - in the sense that the size of the vectors does not ever decrease as the result of an addition (or subtraction).

[2015-06-12 05:29] jnievelt commented on #450
Oh, I see that even `MapMonoid` has this `Group`-like behavior (it's just missing `negate`).  So it would use `OptionMonoid` and everything is good.

[2015-06-12 21:17] johnynek commented on #450
1. the Option wrapper does work (or seemed to when I tried it at the REPL). I think the reason is because `Monoid[Option[T]].isNonZero` does not recurse: https://github.com/twitter/algebird/blob/develop/algebird-core/src/main/scala/com/twitter/algebird/Monoid.scala#L61 just checks to see if it is None.

2. dense may not be a great name, but considering Map(k -> 0) to be equivalent to Map() is defi

[2015-06-15 17:32] Gabriel439 commented on #450
Another approach is to wrap the `Map` in an opaque class that quotients the difference between a key with a zero value an empty key.  The idea is that this wrapper would provide a new `lookup` method that would return `Monoid.zero` if the key is absent, so that the user cannot detect the difference between the two representations.

[2015-06-15 17:36] ianoc commented on #450
deleting is more memory efficient, so i think we'll want to be additive
with anything that keeps more state around

On Mon, Jun 15, 2015 at 10:33 AM, Gabriel Gonzalez <notifications@github.com

[2015-06-15 17:49] jnievelt commented on #450
The point of this issue is not just that the `MapMonoid` is confusing, but also that the functionality it's missing (preserving keys that map to `monoid.zero`) is desired.  So presenting a different interface that makes this impossible doesn't really help.

But yes, it should be additive.  It could easily be that applications depend on assumptions like `map.contains(k)` <=> `map(k) != monoid.zero`

[2015-06-15 18:09] Gabriel439 commented on #450
Whether or not you use `Option` you still break the identity laws.  One of the consequences of the `Monoid` laws is that the identity element must be unique.  If you have two proposed non-equal identity elements (let's call them `i1` and `i2`) then one of them must necessarily not be the identity.

To see why, you just add `i1` and `i2` together and whichever one you get back is not the identity.

[2015-06-15 18:19] jnievelt commented on #450
Maybe I'm missing something, but isn't `Map(k -> None)` not an identity candidate because `Map(k -> None) + Map() != Map()`?

[2015-06-15 18:29] Gabriel439 commented on #450
@jnievelt That means that `Map()` is not a valid identity, because the identity laws say that:

    x + zero = x

... but the law does not hold when `zero = Map()` and `x = Map(k -> None)`

[2015-06-15 19:08] jnievelt commented on #450
Ah, of course you're right.  In fact the result is that there are no identity elements, except for degenerate cases like Map[Nothing, Long].

[2015-06-15 19:16] johnynek commented on #450
@Gabriel439 the laws require a definition of =. If your definition of = includes only looking at non-zero keys, you have no problem, because really you had zero + zero = zero for these cases.

[2015-06-15 20:03] Gabriel439 commented on #450
@johnynek I agree.  That's why I believe we should wrap the `Map` type so that we can quotient the API and then the user wouldn't be able to distinguish multiple identity elements.

[2015-06-18 17:41] erinshellman opened #451 "Can't import QTree in the Spark shell"
Hey, I'm getting weird behavior where I'm able to import some classes from algebird into the Spark shell, but not others (specifically QTree). Seen this before?

[code]

[2015-06-18 17:45] ianoc commented on #451
version 0.1.11 is ancient, did QTree even exist in that artifact?
https://github.com/twitter/algebird/releases/tag/0.1.11

its from 2013

[2015-06-18 17:51] erinshellman commented on #451
Ah, sorry, went with the jar that's in the maven repository. That's probably it.

[2015-06-18 18:09] ianoc commented on #451
Should all be in maven central, http://search.maven.org/#artifactdetails%7Ccom.twitter%7Calgebird-core_2.10%7C0.10.2%7Cjar  looks to be the latest 2.10 artifact there.

[2015-06-18 18:16] bigsnarfdude commented on #451
It works fine for me. There are issues with Spark REPL but it is on the Spark side...https://issues.apache.org/jira/browse/SPARK-7944

[2015-06-18 18:20] erinshellman commented on #451
Yeah it works with the latest jar on maven central. Was getting the latest from http://mvnrepository.com/ which is out of date. My baaaaad, thanks!

[2015-06-18 18:41] ianoc commented on #451
Ok good, will close this

[2015-06-18 18:41] #451 closed

[2015-06-25 17:56] johnynek opened #453 "Add tut-based documentation"
See: https://github.com/tpolecat/tut/blob/master/README.md

This allows us to put scala code in markdown and then typecheck it so it does not get out of sync. Travis can build the docs and the build is red if something changes.

[2015-06-25 19:44] johnynek opened #454 "QTree bound test is flakey (or statistical)"
[code]

Looks like the true quantiles are not always in the bound (though this error is very small). May need to revisit this test.

/cc @avibryant

[2015-06-25 23:23] sid-kap commented on #453
Is there a way to make Travis work with Github wiki?

[2015-06-26 00:05] johnynek commented on #453
well, maybe not with the wiki, but possibly with README.md. We could use tut to generate it, then a script to move it into place, or something like that.

[2015-06-26 00:31] sid-kap commented on #446
I took care of (2) in PR #457

[2015-07-02 01:55] johnynek commented on #454
Also this one:

[code]

[2015-07-06 18:30] sid-kap commented on #453
Would it be a good idea to get rid of the Wiki and use Github Pages (with Jekyll, or a similar static site generator) instead?
I see a few potential benefits:
- We could use Travis CI to integrate Tut
- Github Pages would allow us to have pull requests, branches, etc. for the docs
- The static site generator would auto-generate the Table of Contents/sidebar for us. (This isn't such a big deal for

[2015-07-10 16:26] johnynek opened #459 "CMSItem disregards count in ++"
https://github.com/twitter/algebird/blob/develop/algebird-core/src/main/scala/com/twitter/algebird/CountMinSketch.scala#L449

note that if you do `CMSZero + ("a", 100) + ("a", 1)`, I think you'll get the same as `CMSZero + ("a", 1) + ("a", 1)`

[2015-07-10 17:22] johnynek opened #460 "Add conservative update to CMS"
See: http://dl.acm.org/citation.cfm?id=1868768

If you estimate the new size, we certainly don't need to update any buckets to a value larger than that. This appears to be non-associative, but could be useful as a method like:

[code]
also, we could consider a variant that does this by default when merging sparse values.

[2015-07-10 17:23] johnynek opened #461 "SparseCMS"
Might be good to have a SparseCMS that keeps a map of values until the size of the map reaches `depth * width`. This could improve accuracy for cases of small data (which happens when we use CMS as a value with highly skewed keys).

[2015-07-10 23:17] reconditesea commented on #461
You mean keep a map of all values to their exact frequencies, until we reach the full size of the counting table? And this should be used when there is a strong prior that the input stream is highly sparsed and skewed?

[2015-07-14 15:47] johnynek commented on #461
Yes: keep a `Map[K, Long]` until the number of values is `width * depth` or something, since there is no need to use a CMS until you are already keeping a lot of values.

This can be a subclass of `CMS` similar to `CMSItem`.

[2015-07-14 21:08] eigenvariable opened #463 "long-term serialization format for commonly used structures"
It would be nice if there were a canonical, guaranteed-to-be-backwards-compatible way to serialize various algebird structures like hyperloglog, adaptive matrix, etc. Using thrift definitions--with maybe a little bit of scala wrapping--seems like a good way of doing things. Would it make sense to provide these as part of algebird and/or chill-algebird? My understanding is that the current implemen

[2015-07-14 21:11] ianoc commented on #463
Tsar depends on an internal algebird thing which has the thrift structures your mentioning. Having an algebird-thrift sub project that generates scrooge structures might be good. Doesn't really belong in chill I don't think since thats the kryo orientated lib

[2015-07-14 21:43] eigenvariable commented on #463
Re: not in chill: that makes sense. Since I don't remember very well what the internal thrift (or the corresponding injections) look like, I can't remember: would it make sense to just throw that internal library over the fence, or is there application-specific hardcoding going on?

[2015-07-15 19:31] jnievelt opened #465 "Formalization of approximate interface with an exact backing"
This idea seems to crop up in a few places.  Essentially, exact structures can be taken as a special case of our sketch structures that take up less space.

In theory, Monoids could take advantage of this, and maybe we could simplify some logic by having implicit conversions?  And perhaps we could simplify some EventuallyMonoids.

Some examples would be:
- `String` or `Set[String]` as exact BloomF

[2015-07-15 21:00] johnynek commented on #465
I'd say `CMS[K] ~ Map[K, Long]` and `SketchMap[K, V] ~ Map[K, V]`. But how would we use this?

These approximations are generally for datastructures and methods/functions. How do we codify that?

[2015-07-15 21:44] jnievelt commented on #465
Yeah it's not completely clear to me, either.

But it occurs to me that all of these Monoids have/need a 'create' method that does the conversion involved here (more or less).  Perhaps we could have types like:
[code]
Though this is already problematic due to 'extends A', because these things aren't really traits (SketchMap is a case class, even).

[2015-07-15 23:51] reconditesea commented on #459
@johnynek What's the definition of a CMSItem?
If it's one single key with one element, I think there is no bug. If it's one single key with multiple counts, then I think both the frequency and innerProduct also need to be updated.

[2015-07-16 00:00] jnievelt commented on #459
That's not the definition.  It's a bit weird because `CMSMonoid#create` doesn't take a count parameter (it's implicitly 1), but `CMSZero#+` does.  Basically there's not a way to hit this without involving `CMSZero`.

While we're at it, let's fix `frequency`:

https://github.com/twitter/algebird/blob/develop/algebird-core/src/main/scala/com/twitter/algebird/CountMinSketch.scala#L454

[2015-07-16 01:10] reconditesea commented on #459
Yeah, both frequency and innerProduct are updated.

[2015-07-22 18:59] jnievelt opened #468 "Scoped TopN CMS"
Conceptually, we want behavior somewhat like `Map[K, TopNCMS[V]]`.  For each key, we separately store an estimate of the N most frequent values.  To save space we can instead use a single `TopCMS[(K, V)]`.  The meat of this would be a specialized `HeavyHittersLogic[(K, V)]` that only does evictions per key.

[2015-07-24 17:56] johnynek commented on #465
A minor tweak to your suggestion:
[code]

[2015-07-24 18:45] jnievelt commented on #465
I think the signature of the Monoid would be a bit longer.  Something like:
[code]

[2015-07-31 23:35] sid-kap commented on #465
Something like this could be a great way to clean up our test code. I'm thinking about making something like

[code]
Example implementation:
[code]
This example doesn't check out because I don't know where to get the `x` in exactResult and approximateResult. Maybe there should be another def `getArbitraryTestInput` which returns a suitable `x` which we can feed into `exactResult` and `approximateR

[2015-08-02 17:00] koertkuipers commented on #360
@avibryant
Hey Avi, what do you mean when you say: "But SpaceSaver doesn't even parameterize the value type currently, which is something else we should fix."?
I am happy to work on SpaceSaver to fix it as needed once i understand what the issue is.
Best, Koert

[2015-08-03 23:33] sid-kap opened #477 "Unresolved Dependencies during compile"
Does anyone know why I might be getting this message when I run sbt compile? I'm on the current develop branch, using Scala 2.10.

[code]

[2015-08-03 23:58] ianoc commented on #477
just doing a ./sbt compile?

[2015-08-04 00:03] sid-kap commented on #477
Yep

[2015-08-04 00:04] ianoc commented on #477
I suspect you might be hitting some oddity between ivy and maven resolving systems. Try change the version.sbt to just add a -SNAPSHOT at the end?

[2015-08-04 00:07] sid-kap commented on #477
That worked, thanks!

[2015-08-04 00:07] #477 closed

[2015-08-04 23:11] #377 closed

[2015-08-05 04:58] joshualande commented on #377
Awesome, thanks so much!

[2015-08-05 05:42] sid-kap opened #479 "HyperLogLog intersections test is weak"
Here is the current test for HyperLogLog intersections:

[code]
This test is very weak.
First of all, exactIntersect doesn't even calculate the correct thing! It calculates the size of the union, not the size of the intersection.
Second of all, the sample data is not very good. Note that the test code generates several lists of ints, each of which contain 1000 random ints in the range [0, 100). No

[2015-08-05 22:37] #468 closed

[2015-08-31 10:33] dafox7777777 opened #487 "Aggregate Option[Numeric] and skip None"
Hello,

I would like calculate average on Option[Long] items instead of Long/Numeric. I need to skip missing None values in aggregation.
Example:
[code]
Is it possible with current Algebird implementation?

I know I can prefilter input, but then can not use GeneratedTupleAggregator or joining of aggregators as obvious from example.

[2015-08-31 15:18] avibryant commented on #487
Yes, you can use `sumBefore` to turn a `MonoidAggregator` that takes `A` into one that takes `Traversable[A]` (and `Option[A]` implicitly converts to this).

[2015-09-04 19:00] johnynek opened #488 "Change type for rollup"
Right now, cubing and rollup have the same type of keys: tuples or Options.

The problem is, for rollup, most of the possible values are uninhabited. For instance `None, Some(_)` would never happen. A better type would be:

[code]
now, occasionally we chose looser types because using them is significantly easier, for instance in outerJoin in scalding we make the value type be: `(Option[V1], Option

[2015-09-04 19:17] avibryant commented on #488
Probably unhelpful comment: those types remind me of shapeless' HList.

[2015-09-04 19:19] johnynek commented on #488
Yes. It is like an HList that may have a length from 0 to n, and that is not known at compile time, but given a position in the list, if present, the type is known.

[2015-09-04 20:50] avibryant commented on #488
I'm too lazy to think about this right this second, but it seems like there might be an infix type constructor notation that would make these nested options less awkward.

[2015-09-04 21:37] sid-kap commented on #488
This makes sense.
As a bonus, this would allow for dealing with case classes with more than 22 values. Also, it would mean that the user doesn't have to see long strings of `None,None,None`s.

[2015-09-05 05:16] avibryant commented on #488
Yeah, so if you do a right-associative infix type constructor it works:

[code]

[2015-09-05 05:22] ianoc commented on #488
Thing I'd wonder about this: is will all use cases just revert to converting to a tuple of options? Most use cases like writing out to thrift will be much more natural/easy with a struct of optional fields, we'd just end up immediately unpacking this alternate type right?

[2015-09-08 11:28] dafox7777777 commented on #487
Hello @avibryant not sure how it helps me with Aggregation. I still need to transform None or Traversable[A] to Double in composePrepare method. Could you please provide code example? I tried following:
[code]

[2015-09-08 17:46] jnievelt commented on #487
I think you'd do the sumBefore after the composePrepare.

That being said, calculating mean value is a Group (Monoid, etc.), up to a degree of rounding errors.  I'd suggest constructing a Monoid that computes the mean of Option\[Long\] instead of using an aggregator.  If you really do need an aggregator, you can then build the MonoidAggregator from there.

It would be something like:
[code]

[2015-09-08 19:23] johnynek commented on #488
That's a cool trick, @avibryant. One wonders if having TupleN rather than a similar right associative function and unapplies would circumvent some of the Tuple22 pain:
[code]
Of course, you could do the nesting in the first position rather than the second and not need the right associativity (and ensuing : ugliness).

[2015-09-08 19:38] johnynek commented on #487
@dafox7777777 welcome to scala, even contributors of the library don't much agree on what to do.

You might want:
[code]
If you want to go @jnievelt 's route, I would not set up the monoid, it is the default. Instead I'd do:
[code]

[2015-09-09 20:23] jnievelt opened #489 "semigroupLaws do not enforce/check TraversableOnce semantics"
Specifically, semigroupSumWorks creates a List which doesn't have a problem being traversed multiple times:

https://github.com/twitter/algebird/blob/256a4f7a8be11fb20e85495b141cadd018f6729f/algebird-test/src/main/scala/com/twitter/algebird/BaseProperties.scala#L56

The effect is that the property may pass for buggy Semigroups.  This should instead give a container that can only be traversed once.

[2015-09-09 20:52] #489 closed

[2015-09-14 09:45] dafox7777777 commented on #487
Thanks for your answers. I have used @jnievelt 's route with MonoidAggregator.

[2015-10-22 20:32] #461 closed

[2015-11-01 20:36] johnynek opened #497 "CountMinSketch[K] assumes working equals method on K."
For small count-min sketches, you create CMSItem:

https://github.com/twitter/algebird/blob/develop/algebird-core/src/main/scala/com/twitter/algebird/CountMinSketch.scala#L467

But to get the frequency of K we use `==`:
https://github.com/twitter/algebird/blob/develop/algebird-core/src/main/scala/com/twitter/algebird/CountMinSketch.scala#L479

if you have `CMSItem[Array[Byte]]` as happens in scald

[2015-11-02 02:35] johnynek commented on #497
A possible solution here is to add an `def equiv(a: K, b: K): Boolean` method to `CMSHasher[K]` and then implement this for `Array[Byte]`.

PS: @non this is why I think any Hashing typeclass should have equivalence: you often need it, and it seems impossible to state any law on the typeclass without it (well, you could make probabilisitic statements about collisions).

[2015-11-02 02:43] johnynek commented on #497
Also, the SparseCMS does not seem fixable at all with `Array[T]` keys. Since we are actively using it for `Array[Byte]` in scalding, and I guess CMSHasherByteArray: is broken if we allow the SparseCMS.
https://github.com/twitter/algebird/blob/develop/algebird-core/src/main/scala/com/twitter/algebird/CountMinSketch.scala#L1353

We could fix this by making the table have the key which is the hash, a

[2015-11-04 05:02] johnynek opened #499 "CMSHasherImplicits should just be on object CMSHasher"
It's annoying to have to `import CMSHasherImplicits._`

To fix this, I propose:
[code]

[2015-11-12 22:03] ianoc commented on #497
We internally use structures often where having a graceful degradation from exact down to approximate is nice. (TSAR uses these heavily), so it sort of would be nice to keep it if we could. Requiring the Hasher type class to provide the equality also i think would be most preferable if not too painful. (We'd need to be careful of course about using any built in maps or other scala stuff... which i

[2015-11-19 07:14] johnynek opened #500 "MinHasher32 test is flakey"
[code]

This is quite common. Need to weaken the bound or figure out if there is really some bug (doubt it).

[2015-12-14 16:59] Gabriel439 opened #503 "`BytesSpec` fails `Ordering` property test"
We caught this property-based test failure for the `BytesSpec` `Ordering` test and I wanted to record the failing test case here:

[code]

[2015-12-14 19:30] jnievelt commented on #503
Looks like invalid test.  It's dropping from the head when it should be dropping from the tail.

[2015-12-14 19:44] johnynek commented on #503
I think we need a test of this: https://en.wikipedia.org/wiki/Total_order
[code]
We should also have a laws that check that `lteq(a, b) == lt(a, b) || equiv(a, b)`, `gteq(a, b) == lteq(b, a)` and probably `lt(a, b) xor lt(b, a) == !equiv(a, b)`

[2015-12-14 19:47] ianoc commented on #503
I think your last rule there in total has a typo

-- ord.lteq(a, b) || ord.lteq(b,a) it should be

[2015-12-14 19:49] johnynek commented on #503
@ianoc yep. Fixed.

[2015-12-16 00:46] reconditesea commented on #459
I believe this is closed by #464 .

[2015-12-16 00:46] #459 closed

[2015-12-30 15:23] mannykao commented on #177
Hi, I found this looking for code for mergeable summaries. Looks like this project is much more than that.  Does it contain an implementation of it that I can use as a starting point?

Thanks.

[2016-01-05 18:55] jnievelt commented on #177
We have several mergeable summaries implemented, which are kept in the core project:

https://github.com/twitter/algebird/tree/develop/algebird-core/src/main/scala/com/twitter/algebird

I'm not sure what this issue was originally intended to track, but it seems we should be able to close it?

[2016-01-13 12:18] huitseeker opened #505 "Seed parameter in `BloomFilter` is unused"
The `seed` parameter of the `BloomFilter` supposedly passed through to Cassandra's 128-bits MurmurHash to initialize the hashing (through https://github.com/twitter/algebird/blob/develop/algebird-core/src/main/scala/com/twitter/algebird/BloomFilter.scala#L80) is in fact not used.

[2016-01-13 16:31] ianoc commented on #505
Looks like a long ago PR slipped through the cracks to remove this parameter @ https://github.com/twitter/algebird/pull/220

[2016-01-20 21:28] isnotinvain commented on #497
This is old, but, here is the ugly wrapper class I created in scalding to make arrays have efficient orderings and hash codes:

https://github.com/twitter/scalding/blob/develop/scalding-core/src/main/scala/com/twitter/scalding/typed/HashEqualsArrayWrapper.scala

The problem is you have to make sure to wrap your arrays in these wrappers.

[2016-01-21 17:52] johnynek commented on #497
that may be worth adding. The core issue is unsolved: we are using equality without communicating in the types that we are doing so. We need something like https://github.com/non/algebra/blob/master/core/src/main/scala/algebra/Eq.scala#L12

[2016-01-21 17:57] ianoc commented on #497
When/if should we take the algebra dep into algebird I wonder, that was the original intent right? Or should we start going for more Equiv typeclass usage and less =='s anywhere?

[2016-01-22 01:22] johnynek commented on #497
Good question. I hoped soon, then this cats/algebra conflict came up:

https://github.com/non/algebra/issues/142

The problem with Equiv is that there is a default for all types falling back to `==`. So it is not much safer.

[2016-01-22 01:38] isnotinvain commented on #497
Yeah unless we get away from use of == then users (and library implementors) just have to take care to wrap types when they have a bad ==, no way around that really.

Using an Equiv makes sense to me, maybe the migration path could be to require an Equiv wherever we use ==, and if one isn't provided, fall back to ==, then deprecate the fall back path... etc

[2016-01-22 17:24] johnynek commented on #497
Scala provides a fallback Equiv (==) in the companion object already so
that approach won't be much safer.

On Thu, Jan 21, 2016 at 3:38 PM, Alex Levenson <notifications@github.com>
wrote:

--
P. Oscar Boykin, Ph.D. | http://twitter.com/posco | http://pobox.com/~boykin

[2016-01-22 21:52] isnotinvain commented on #497
Ok, well, what I said but replace scala's Equiv with something similar that has no fallback on == then?

[2016-02-11 05:41] #479 closed

[2016-02-16 17:36] Gabriel439 opened #508 "Property test failure for `DecayedVector` associativity law"
The travis run for https://github.com/twitter/algebird/pull/504 failed due to this unrelated property test failure.  I wanted to document this test failure before re-running the build:

[code]

[2016-02-16 17:36] jnievelt opened #509 "IllegalArgumentException when computing HLL intersection size"
I suspect this is a sort of edge case in the HLL approximation algo, but it seems there should be a better way to surface this than this exception.

I've reconstructed the case as reported, coming up with two sets with sizes 428 & 395 and intersection size 67:

[code]

Using the default hasher and 9 bits:

[code]

The size approximations illustrate why our intersection algorithm doesn't work: the

[2016-02-21 19:33] nezda opened #512 "CassandraMurmurHash.hash3_x64_128() not quite MurmurHash 3.0"
It turns out, https://github.com/twitter/algebird/blob/ee581c7/algebird-core/src/main/java/com/twitter/algebird/CassandraMurmurHash.java#L27 is not quite MurmurHash 3.0 (https://github.com/apache/cassandra/blob/ae3edb2abee8c847b4b76349ba5dece54450ebac/src/java/org/apache/cassandra/utils/MurmurHash.java#L28-L29).  At a minimum, update the comment as they did, and consider upgrading to a correct one

[2016-02-22 23:15] #503 closed

[2016-02-22 23:38] Gabriel439 commented on #500
Another instance of this occurring:

https://travis-ci.org/twitter/algebird/jobs/111090636

[code]

[2016-02-23 01:21] johnynek commented on #500
we have that approach that @sid-kap added. @Gabriel439 want to take a stab at porting this test to that framework?

[2016-02-23 17:45] Gabriel439 commented on #500
Sure, I will give it a stab

[2016-02-25 19:24] johnynek opened #513 "add a new mutable PriorityQueue Monoid"
in: https://github.com/twitter/algebird/blob/develop/algebird-core/src/main/scala/com/twitter/algebird/mutable/PriorityQueueMonoid.scala

the issue is that the PriorityQueue holds a reference to the Ordering. On serialization that can be a major cost.

We never need to embed the Ordering if we had an implementation that always accepts the Ordering on each method call that uses it, and the Monoid w

[2016-02-26 00:01] Gabriel439 commented on #500
So I think this is a case of the error bounds being incorrect.  The test that occasionally fails is this one:

[code]

... and if you follow the code for that specific `MinHasher32` constructor initialization it initializes `numHashes` to `247`.  The expected error for the Min Hash algorithm is `1 / sqrt numHashes` which is in this case evaluates to approximately `0.064`.  This explains why the te

[2016-02-26 02:16] johnynek commented on #500
sounds fine to me.

[2016-02-26 20:38] #500 closed

[2016-02-29 20:19] johnynek opened #515 "sumOption does not compose"
and it is a pain. See the hack here:

https://github.com/twitter/algebird/blob/develop/algebird-core/src/main/scala/com/twitter/algebird/GeneratedAbstractAlgebra.scala#L97

One solution would be:
[code]
since Fold composes, we can compose in Tuples and case classes this way.

This could also be used in map-side aggregation to feed items one at a time. So we keep a hashtable of `[K, Fold[V, Option[

[2016-02-29 21:41] johnynek commented on #509
I don't know why this require is there:

https://github.com/twitter/algebird/blame/develop/algebird-core/src/main/scala/com/twitter/algebird/Approximate.scala#L143

but I wrote it. :/

What is happening is that we have some range: `[a, b]` and with prob `>= p` we are inside that range. Now, we say we know it is at least as large as `m` but `m > b`, so clearly the event `m in [a, b]` didn't happen,

[2016-02-29 21:42] johnynek commented on #508
doubles are not associative, so I guess we just need to loosen the bounds here or use doubles in a tighter range.

[2016-02-29 22:03] jnievelt commented on #515
Is this similar to #291?

[2016-02-29 23:57] johnynek commented on #515
sort of, yes.

[2016-03-01 12:25] vidma commented on #463
Hey,

so do we have any conclusion regarding this?

I'd be very interested in `a simple rather fast semi-long-term serializer for Algebird Monoids` (we use just a few common data structures, `count/size/sum`, `moments`, `RoaringBitmap` & `HLL`, and we'd like to write/read them into HBASE; rebuilding from scratch every few months is not a problem). I'd assume:
- `Kryo` is fast, but doesn't fit - no

[2016-03-01 18:19] johnynek commented on #463
HLL has a method that is supported for this use case:

https://github.com/twitter/algebird/blob/develop/algebird-core/src/main/scala/com/twitter/algebird/HyperLogLog.scala#L125

At twitter, we made thrift versions of all these things and Bijections between the thrift and native versions. A bit ugly, but we knew we were in control of the serialization then and thrift was a good interchange format.

[2016-03-01 19:39] jnievelt commented on #463
From an ease of use/development standpoint, I appreciate the value of the thrift we have for algebird.  I don't think it would be too much trouble to push the definitions we have into algebird somewhere (algebird-thrift?).

From a performance standpoint, however, it leaves something to be desired.  The reason relates to a conversation I had with Ian late last year, in that thrift is not a random-a

[2016-03-01 20:32] johnynek commented on #463
interesting data points. The compact slowing down is surprising. That lazy codec is pretty great. That @ianoc knows how to make things fast. :)

[2016-03-01 20:39] ianoc commented on #463
I'm sympathetic to having a good serialization story out of the box, but I think it makes a lot of sense to leave it up to the user as the general stance. An algebird-thrift with bijections/injections as a path sounds good.

Most of my reluctance comes from a few things where stuff has been troublesome in the past:

1) Well defined serialization formats/idl's like thrift can be easily consumed in

[2016-03-04 21:04] jcoveney opened #516 "Use macro to replace GenTupleAggregators.scala"
It seems like this file could be replaced by a small macro

https://github.com/twitter/algebird/blob/develop/project/GenTupleAggregators.scala

Not sure if there's any reason not to? Not sure what our stance on macros in algebird is?

[2016-03-04 21:10] jnievelt commented on #516
I've not heard of it coming up.  I imagine no one's gotten around to it since we've been on 2.10+

[2016-03-04 22:28] johnynek commented on #516
we have macros to generate case class monoid and Arbitrary instances.

that said, macros are hard to debug, slow down compilation, and are not welcoming to newcomers. For tuple stuff that we can codegen once, I would do it.

case classes or other cases is where I would stick the macros.

[2016-03-18 21:15] piyushnarang opened #517 "Discrepancy in behavior of QTree[Long] and QTree[Double] for quantileBounds"
Been poking arond with the Algebird 0.12.0 release (which included fix: https://github.com/twitter/algebird/pull/472/files). Noticed that the behavior for QTree[Long] and QTree[Double] is fairly different when you try to pick up the 0.5 quantile (median):

[code]

This seems incorrect. When I try the same as doubles:

[code]

instead of 2.0 -> 3.0 the range is 2.0 -> 2.0 which seems more sane.

(S

[2016-03-18 21:16] piyushnarang commented on #517
@avibryant - @johnynek mentioned that you might know more so tagging you on this.

[2016-03-18 21:26] avibryant commented on #517
Quick pointer: this is related to the level parameter in https://github.com/twitter/algebird/blob/develop/algebird-core/src/main/scala/com/twitter/algebird/QTree.scala#L45. For a `Double` this defaults to `-16` (which is to say, the smallest resolution is 2^-16). For a `Long` this defaults to `0`.

This issue highlights that this is maybe a bad idea, or maybe there's something else in the semantic

[2016-03-18 21:27] jnievelt commented on #517
Yep.  If instead of QTree(_) you use:

QTree(131072,-16,1,_,None,None)

The results will be the same (the result you're seeing for Double right now).

[2016-03-18 21:34] piyushnarang commented on #517
Yeah noticed that the offset and level params were pretty different for the long & doubles. Do you know why that is the case? Why not the same values for both?

[2016-03-18 21:46] piyushnarang commented on #517
Yeah that makes sense. I can keep reducing the resolution (from 2^-16 to 2^-1) and the range gets wider:
[code]

[2016-04-28 21:50] MasseGuillaume opened #521 "Register your spark package"
You have a dependency on Apache Spark. You can register your package at
http://spark-packages.org/register.
It's "[a] community index of packages for Apache Spark."

[2016-05-04 06:23] vincenttsang opened #522 "Maven algebird repository missing"
Hi, all

I got a problem while I was using Maven to build the HiBench project (which adopts **algebird** in some of its modules), the maven logs are as follows, showing that the site: https://oss.sonatype.org/content/groups/scala-tools/ is unavailable. I then tried to access it through my browser, and discovered that though the oss.sonatype.org website works, the scala-tools directory is missing.

[2016-05-16 19:50] johnynek opened #524 "BytesSpec is a flakey test"
[code]

[2016-05-16 19:54] johnynek commented on #524
this calls `head` but does not check it if is empty:

https://github.com/twitter/algebird/blob/develop/algebird-test/src/test/scala/com/twitter/algebird/BytesSpec.scala#L81

@jnievelt is that part of the change you added?

[2016-05-16 20:20] jnievelt commented on #524
Not sure if you're thinking of my change in scalding.  Looks like this one hasn't changed in over a year.

[2016-05-16 20:21] jnievelt commented on #524
Oh maybe you're thinking of #510

[2016-05-16 20:23] jnievelt commented on #524
Ah I did break it!  Must have missed that it's `head` outside of any length check.

[2016-06-01 19:44] #524 closed

[2016-06-08 18:16] non opened #528 "Many property-based tests are broken"
If you change the associativity property to always return `false`, you should see every law check fail. Instead, many of them continue passing, because they are never actually doing any work. This is due to failing to mix-in the correct traits into the test classes.

To fix this, find the tests that pass under a bogus associativity check, change them all so they fail, and then revert the associati

[2016-06-09 22:36] isnotinvain commented on #528
Thanks for finding this. @johnynek this has happened before. I think we need to find a way to use our test library that prevents this case of "the tests are quietly not being executed"

[2016-06-09 22:48] isnotinvain commented on #528
@non single base trait is a good start, we should definitely standardize everything to that and use only a single scalatest "style"

[2016-06-19 06:48] bigsnarfdude commented on #522
@vincenttsang http://mvnrepository.com/artifact/com.twitter/algebird-core_2.10

[2016-06-19 18:26] johnynek commented on #522
By the way, that is a super old version of algebird. I would encourage them
to upgrade.

On Saturday, June 18, 2016, Vincent Ohprecio <notifications@github.com>
wrote:

--
P. Oscar Boykin, Ph.D. | http://twitter.com/posco | http://pobox.com/~boykin

[2016-06-25 01:32] johnynek commented on #499
closed by #533

[2016-06-25 01:32] #499 closed

[2016-06-25 01:33] johnynek opened #536 "spark tests are flakey"
we see the same issue as reported here:

http://apache-spark-user-list.1001560.n3.nabble.com/Futures-timed-out-after-10000-milliseconds-td23622.html

on travis

[2016-08-13 15:58] poslegm commented on #513
I'm not a algebird developer and I may be wrong, but the only way to do this is breaking the inheritance from the Monoid and Semigroup classes (due to changes in method signatures).

This will work, but maybe this will break the algebird ideology.

[2016-08-27 01:12] johnynek opened #545 "way too many warnings"
We have a ton of adapted arg warnings.

We need to fix those and many others. Just compile the code, not the insane number of warnings, and lament.

[2016-08-29 16:56] jnievelt commented on #545
Are you actively working on this?  Sounds like something I could pick up as background work.

[2016-09-19 16:01] johnynek opened #548 "Remove invalid Future/Try Group/Ring"
the exceptional cases have no inverse, they should be removed (we are clearly using bad test generators or not running tests, we should diagnose that as well).

[2016-09-23 17:39] EugenCepoi opened #549 "Incompatibilities with spark 2"
Algebird is built against spark 1.3, until spark 2 most of the code was working fine.
However in spark 2 the method signature of [coalesce changed](https://github.com/apache/spark/blob/branch-2.0/core/src/main/scala/org/apache/spark/rdd/RDD.scala#L438). For example we encounter this error when using sumOption:

[code]

[2016-09-23 20:33] #549 closed

[2016-10-10 05:18] vincenttsang commented on #522
Thank u all guys, my problem was solved through other methods, still, thanks!

[2016-10-17 18:16] johnynek opened #554 "remove `FromIntLike` typeclass."
this is in algebird-test, but really `Ring[T]` is enough and we never us it in a case where we don't have a `Ring`.

[2016-10-17 18:27] johnynek commented on #554
in fact, when we merge #523 `Ring` already has this method.

[2016-10-24 19:55] sritchie commented on #59
Can we close this now that we have `EventuallyMonoid`?

[2016-10-24 19:56] #83 closed

[2016-10-24 19:57] sritchie commented on #453
I'm going to take this task on, both the original `tut` suggestion and @sid-kap 's suggestion to replace the wiki with a microsite.

[2016-10-24 19:57] johnynek commented on #83
see #439 #440

[2016-10-24 19:59] #61 closed

[2016-10-24 20:00] #84 closed

[2016-10-24 20:02] sritchie commented on #99
tackled by #523

[2016-10-24 20:02] #99 closed

[2016-10-24 20:02] #110 closed

[2016-10-24 20:03] #50 closed

[2016-10-24 20:04] sritchie commented on #142
Done https://github.com/twitter/algebird/blob/develop/algebird-core/src/main/scala/com/twitter/algebird/matrix/DenseMatrix.scala

[2016-10-24 20:04] #142 closed

[2016-10-24 20:05] sritchie commented on #156
I say we don't worry about it and just use macros once we upgrade beyond 2.10.

[2016-10-24 20:05] #156 closed

[2016-10-24 20:07] sritchie commented on #172
Going to close this in favor of a larger #119 initiative. Totally agree here.

[2016-10-24 20:07] #172 closed

[2016-10-24 20:07] #177 closed

[2016-10-24 20:08] sritchie commented on #184
Taking this on with #556

[2016-10-24 20:08] #184 closed

[2016-10-24 20:08] #193 closed

[2016-10-24 20:09] sritchie commented on #203
Profiled by algebird-benchmark.

[2016-10-24 20:09] #203 closed

[2016-10-24 20:09] #205 closed

[2016-10-24 20:09] sritchie commented on #208
It does, in reduce/reduceOption.

[2016-10-24 20:09] #208 closed

[2016-10-24 20:12] sritchie commented on #214
Can we close this, @johnynek? Looks like we already made some other enhancements.

[2016-10-24 20:13] sritchie commented on #128
@johnynek , I propose that we close this since we're adopting shared typeclasses soon.

[2016-10-24 20:15] sritchie commented on #429
@johnynek can we close now that #433 is merged?

[2016-10-24 20:17] sritchie commented on #463
Closing in favor of #119 - I'm going to start on a plan for this. Will report back on that ticket.

[2016-10-24 20:17] #463 closed

[2016-10-24 20:20] #218 closed

[2016-10-24 20:21] sritchie commented on #236
Closed by #523

[2016-10-24 20:21] #236 closed

[2016-10-24 20:22] sritchie opened #558 "implement exponential histogram for sliding window sums (DGIM)"
Here's the paper: http://ilpubs.stanford.edu:8090/504/1/2001-34.pdf

I've got a bunch of info on this that I'll add after my big issue-cleaning push.

[2016-10-24 20:23] sritchie commented on #233
We're finally implementing this data structure, with a monoid! Track progress here:

https://github.com/twitter/algebird/issues/558

[2016-10-24 20:23] #233 closed

[2016-10-24 20:24] sritchie commented on #247
Do we still want this?

[2016-10-24 20:25] #273 closed

[2016-10-24 20:26] sritchie commented on #281
@johnynek still happening?

[2016-10-24 20:27] sritchie commented on #515
Can we close as a duplicate @johnynek ?

[2016-10-24 20:28] #316 closed

[2016-10-24 20:31] sritchie commented on #357
Do we know if this is still an issue?

[2016-10-24 20:32] #379 closed

[2016-10-24 20:34] #445 closed

[2016-10-24 20:35] sritchie commented on #453
handled by #556

[2016-10-24 20:35] #453 closed

[2016-10-24 20:37] sritchie commented on #465
Do we all mind if I close this and merge the discussion into #44 ?

[2016-10-24 20:37] #516 closed

[2016-10-24 20:38] #521 closed

[2016-10-24 20:38] #522 closed

[2016-10-24 20:39] sritchie commented on #528
Looks like we hit this a while ago: https://github.com/twitter/algebird/issues/357

[2016-10-24 20:39] sritchie commented on #357
Yup, duplicate of #528

[2016-10-24 20:39] #357 closed

[2016-10-24 20:39] #487 closed

[2016-10-24 20:40] sritchie commented on #505
Fixed by #557

[2016-10-24 20:40] #505 closed

[2016-10-24 20:42] sritchie commented on #545
Thanks @jnievelt !

[2016-10-24 20:42] #545 closed

[2016-10-25 00:09] sritchie commented on #558
## Serialization / Speedy Impl Thoughts

/cc @non @johnynek for hackday on Friday.

Just an idea on how we can get away with maintaining `ExpHist` with as little structure as possible, and serializing it efficiently.

  - `s` is the "sum of the sizes of all of the buckets tracked by the ExpHist instance.
  - `k` is `math.ceil(epsilon / 2)`, where epsilon is the relative error of `s`:

[code]

`lNo

[2016-10-25 00:10] sritchie commented on #558
Initial impl attempt here: https://github.com/non/algebird/blob/topic/mlinfra-windows/algebird-core/src/main/scala/com/twitter/algebird/ExpHist.scala

and here: https://github.com/non/algebird/blob/topic/mlinfra-windows/algebird-core/src/main/scala/com/twitter/algebird/Windows.scala

[2016-10-25 15:41] sritchie commented on #460
This paper describes the conservative update as well: http://dimacs.rutgers.edu/~graham/pubs/papers/cmencyc.pdf

We'll want to note the caveat at the end:

![image](https://cloud.githubusercontent.com/assets/69635/19693000/3a7366e0-9a97-11e6-81a3-2b38fac8dbdd.png)

[2016-10-25 15:52] sritchie opened #559 "implement count-mean-min-sketch"
The [wiki page](https://en.wikipedia.org/wiki/Count%E2%80%93min_sketch) for CMS describes a variant with a different query function called count-mean-min-sketch; this tries to reduce bias in the estimate by subtracting out the bias when reporting.

The big change here is to return the median value instead of the min on query.

[This paper](http://www.aclweb.org/anthology/D12-1100)'s worth looking

[2016-10-25 16:02] sritchie opened #560 "implement CuckooFilter (related to BloomFilter)"
From [this excellent blog post](http://mybiasedcoin.blogspot.com/2014/10/cuckoo-filters.html):

The paper: http://www.eecs.harvard.edu/~michaelm/postscripts/cuckoo-conext2014.pdf
C++ impl from the author: https://github.com/efficient/cuckoofilter
Dense Cuckoo filter in Scala: https://github.com/newhoggy/pico-cuckoo-filter

(Not sure what the etiquette is here if another scala implementation exists

[2016-10-25 16:12] sritchie opened #561 "implement StreamSummary for heavy hitters and frequent elems"
Here's the paper: http://www.cse.ust.hk/~raywong/comp5331/References/EfficientComputationOfFrequentAndTop-kElementsInDataStreams.pdf

[From this excellent blog post](https://highlyscalable.wordpress.com/2012/05/01/probabilistic-structures-web-analytics-data-mining/):

[2016-10-25 16:18] sritchie opened #562 "investigate Forward Decay paper for possible data structures"
The paper: http://dimacs.rutgers.edu/~graham/pubs/papers/fwddecay.pdf

The tantalizing abstract:

- Coda Hale discusses the algorithm in [this presentation](https://codahale.com/codeconf-2011-04-09-metrics-metrics-everywhere.pdf)
- And it's used in `metrics`: http://metrics.dropwizard.io/3.1.0/apidocs/com/codahale/metrics/ExponentiallyDecayingReservoir.html
- Go implementation link: https://github

[2016-10-25 16:29] sritchie opened #563 "implement AMS Sketch (great for join size estimation)"
Paper: http://dimacs.rutgers.edu/~graham/pubs/papers/encalgs-ams.pdf

From the abstract:

The section of [this paper](https://people.cs.umass.edu/~mcgregor/711S12/sketches1.pdf) called "Using the AMS Sketch to estimate inner products" is the key use case here. We can use the AMS Sketch to estimate join sizes between tables in Scalding, SQL etc.

The section of that paper called "Comparing AMS and

[2016-10-25 16:31] sritchie opened #564 "Estimate join sizes with CountMinSketch"
#563 has some links on how to use a count min sketch for inner product and join size estimation. That issue makes the claim that AMS is better for moderately skewed data... but as we know lots of data is VERY skewed, and CMS will be better for estimating these joins.

You'll find a lot of references online how to CMS can do this, but I haven't found an implementation of it yet.

The section of [th

[2016-10-25 16:44] sritchie opened #565 "change/burst detection via CountMinSketch"
Thanks to @avibryant for this one!

The paper: https://www.cs.utexas.edu/~yzhang/papers/nad-imc03.pdf

Avi's summary:

And the abstract from the paper:

in today’s network, and identifying them rapidly and accurately is
critical for large network operators. The detection typically treats
the traffic as a collection of flows that need to be examined for
significant changes in traffic pattern (e.g.,

[2016-10-25 16:47] sritchie commented on #563
Seems related to #362 ?

[2016-10-25 18:39] johnynek commented on #560
Looking at the other implementation, it seems good, but it as is would not
mesh well with algebird. It uses a number of special AnyVal classes, which
seem fine, but since we have not used that style elsewhere it would be
rather inconsistent.

Since it exists, I might just say people should use that if they want. We
could send a PR for a module to that library to add an Algebra monoid,
which we wil

[2016-10-25 18:56] johnynek commented on #561
Isn't that this:
https://github.com/twitter/algebird/blob/develop/algebird-core/src/main/scala/com/twitter/algebird/SpaceSaver.scala
On Tue, Oct 25, 2016 at 06:12 Sam Ritchie <notifications@github.com> wrote:

[2016-10-25 18:59] sritchie commented on #561
Ah, nice! I even see the note in there now about the explicitly different name :)

[2016-10-25 18:59] #561 closed

[2016-10-25 20:40] sritchie commented on #560
+1 on the batteries included approach, especially as we embark on the serialization journey.

[2016-10-27 00:08] sritchie commented on #558
Going down a little `typelevel` rabbithole after reading about @non's award! I wonder if https://github.com/scodec/scodec is the right choice for implementing serialization here.

[2016-10-29 13:01] sritchie-stripe commented on #44
I THINK this may be a duplicate of `Approximate.scala`. Thoughts?

[2016-10-29 13:02] sritchie commented on #44
I THINK that we can close this now that we have `Approximate.scala` - thoughts?

[2016-11-04 20:57] sritchie opened #569 "scalacheck-identified TopPctCMS failure for Short, Int, success for Long"
This transient error showed up in the Travis test run for #556. Here's the failure:

[code]

This ALSO fails when `data: Seq[Int]`. It PASSES when `data: Seq[Long]`.

[2016-11-04 22:34] sritchie opened #570 "Wanted: Excellent Documentation!"
This issue tracks the big documentation push for our new Github Pages site at https://twitter.github.io/algebird/.

### Data Types

These datatypes are already covered in some detail in [Learning Algebird at the REPL](http://twitter.github.io/algebird/datatypes/repl.html). They need to be moved to their own markdown files in `docs/src/main/tut/datatypes` and cleaned up.

- [ ] HyperLogLog
- [ ] De

[2016-11-04 22:53] sritchie commented on #558
Closed by #568.

[2016-11-04 22:53] #558 closed

[2016-11-05 02:21] oscar-stripe opened #572 "Failure of downsize law"
[code]
One thing that is interesting is that all of these are the same. I wonder if that is something about downsizing to 4 bits?

Anyway, something is amiss...

[2016-11-05 13:43] sritchie opened #573 "implement AdaSketch - time adaptive sketches for streams"
Blog post describing the paper and idea: https://blog.acolyer.org/2016/07/21/time-adaptive-sketches-ada-sketches-for-summarizing-data-streams/

The paper: http://research.microsoft.com/en-us/um/people/mbilenko/papers/16-ada-sketches.pdf

[2016-11-11 00:27] andrewsmartin opened #574 "Release for Scala 2.12?"
I know probably there are some dependencies that have not cross built yet, but is this on the radar?

[2016-11-11 00:58] sritchie commented on #574
Definitely something we plan on doing. I don't think anyone has started the process, so we'd definitely be open to a PR that gets this started. Otherwise we should get this started in the next couple of weeks.

[2016-11-11 01:06] mosesn commented on #574
new scalatest and scalacheck versions were in service to this, and twitter util should be published for 2.12 soon-ish.

[2016-11-12 20:49] andrewsmartin commented on #574
Sure, I'll get this started in a PR.

[2016-11-18 14:39] sritchie-stripe commented on #404
Agreed about `fold`.

[2016-11-18 14:43] #59 closed

[2016-11-18 14:44] #128 closed

[2016-11-18 14:44] #214 closed

[2016-11-18 14:44] #281 closed

[2016-11-18 14:44] #429 closed

[2016-11-18 14:44] sritchie commented on #44
Moved discussion to #465

[2016-11-18 14:44] #44 closed

[2016-11-18 14:45] sritchie commented on #247
nice, added to typedpipe. closing.

[2016-11-18 14:45] #247 closed

[2016-11-18 14:46] sritchie commented on #574
Thanks @andrewsmartin!

[2016-11-18 16:17] sritchie commented on #570
Closing this, since the documentation site will have help wanted sections on every page after we merge #576.

[2016-11-18 16:17] #570 closed

[2016-11-21 15:08] ElPicador opened #577 "Widen the visibility of SpaceSaver.SSMany, SpaceSaver.SSOne"
I need to serialize efficiently an instance of `SpaceSaver`.
For that, I need to access the inner fields `capacity` & `counters`, and the constructors of `SSMany` and `SSOne`.

The issue is both the classes & the constructors are private.

Would it be possible to have them as `public`?

I'm willing to do the PR for this.

[2016-11-21 16:44] johnynek commented on #577
Can we instead have a direct serialization method like `HyperLogLog` does?

Exposing inner classes like that makes binary and source compatibility harder.

[2016-11-21 19:35] ElPicador commented on #577
It could be an option.
But the issue I see is that the `counter` in `SpaceSaver` is parametrize with `T`. So how can we encode those objects? Using the default Java serialization is not a good option IMHO.

[2016-11-22 00:47] johnynek commented on #577
you can pass something like an injection: `T => Array[Byte], Array[Byte] => Try[T]` and we call as needed.

[2016-11-27 22:41] sritchie commented on #548
Closed by #579.

[2016-11-28 13:37] sritchie-stripe opened #582 "auto-deploy github pages on merges to master"
It'd be fantastic if we didn't have to remember to deploy the docs and github pages.

This script has the incantations that will make this possible with Travis: https://gist.github.com/domenic/ec8b0fc8ab45f39403dd

[2016-11-28 19:31] sritchie-stripe opened #583 "AdaptiveVector `isNonZero` is broken"
Here's an example of the breakage:

[code]

`Monoid.plus` returns `SparseVector(1, 0, 0, 0, 0)`, extending the first vector. We want to be able to add zero-only vectors of any length and treat them as identity.

[2016-11-28 21:43] sritchie-stripe commented on #583
This is only a problem when the sparse value is the same as the zero of the underlying monoid.

[2016-11-29 15:04] sritchie commented on #528
Closed by #584. `TopPCTCmsLaws` and `BatchedLaws` were the remaining broken tests.

[2016-11-29 15:04] #528 closed

[2016-11-29 15:22] sritchie commented on #548
Re-opened - I've marked them as deprecated, but they need to get removed at the next binary incompatible version.

[2016-11-29 17:55] sritchie commented on #569
Got this again in a recent test run:

[code]

[2016-11-29 19:31] sritchie opened #587 "binary-incompatible changes for 0.13"
These are changes we'd like before we release a binary-incompatible 0.13.

- [x] remove deprecated group/ring for future/try in algebird-util
- [x] convert all `LawsEquiv` versions to take an `Equiv`, and deprecate the `Equiv` version.
- [x] remove count min sketch legacies - `legacy.{ CountMinSketchMonoid, CMS }` (what do you think, @isnotinvain? Are there are uses at Twitter? It's been deprecate

[2016-11-29 20:24] sritchie commented on #446
Closed by #588

[2016-11-29 20:24] #446 closed

[2016-11-29 20:56] sritchie commented on #574
@andrewsmartin, what are you thinking here? We're starting to make noises about Algebird 0.13, and it'd be wonderful if we could publish a build for 2.12!

[2016-11-29 21:02] andrewsmartin commented on #574
@sritchie I haven't spent much time on this, sorry! I actually tried quickly around a week ago just by bumping the dependencies to versions that have a 2.12 cross build but if I remember correctly there were some upstream twitter dependencies that hadn't been cross-built yet. I can definitely revisit this today or tomorrow though, but if you'd like to go ahead with this that's fine by me as well!

[2016-12-01 00:09] sritchie commented on #569
And again... it's seed dependent. Here's a better example:

[code]

[2016-12-02 20:19] johnynek commented on #569
this is a noisy test, we should just fix the `seed` and move on.

[2016-12-02 20:31] johnynek commented on #587
remove view bounds to doubles and replace with `Numeric[T]` style:

eg. https://github.com/twitter/algebird/pull/589/files#diff-030402b91914cb17675146d882df3148R52

[2016-12-02 23:18] johnynek commented on #548
Closed by #523

[2016-12-02 23:18] #548 closed

[2016-12-02 23:19] johnynek commented on #587
We also want 2.12 support.

[2016-12-02 23:33] oscar-stripe opened #593 "optimize bloomfilter implementation"

[2016-12-02 23:33] johnynek commented on #593
@non ?

[2016-12-03 00:48] isnotinvain commented on #587
Update re: legacy.* -- we don't use any at Twitter

[2016-12-03 01:12] sritchie commented on #587
nice!

[2016-12-03 01:22] #569 closed

[2016-12-03 01:22] sritchie commented on #569
Closed by #594

[2016-12-03 01:22] sritchie commented on #554
Closed by #594

[2016-12-03 01:22] #554 closed

[2016-12-03 02:21] sritchie commented on #587
Other than 2.12, these are all closed.

[2016-12-03 02:21] #587 closed

[2016-12-03 03:13] sritchie opened #598 ""EventuallyRing is a Ring when we always convert" fails ringLaws"
`EventuallyTest.scala` has a note about how we need a `ringLawsEquiv`... well, we have this now and the tests fail sporadically.

https://github.com/twitter/algebird/pull/595/files#diff-3c8c583e075d65c668b6886111780911L31

For example:

[code]

It's set to `monoidLaws` for now. We should investigate!

[2016-12-03 03:43] sritchie commented on #574
Hey @andrewsmartin, I can take this one over - Check out #600 for the goodies!

[2016-12-03 03:43] #574 closed

[2016-12-03 17:25] johnynek commented on #598
So, I think I made this issue but then found another law that needs to be
true for the mustConvert function. Not sure that group or ring can ever
satisfy that law for non trivial cases. I'll look into it.
On Fri, Dec 2, 2016 at 17:13 Sam Ritchie <notifications@github.com> wrote:

[2016-12-10 05:18] sritchie commented on #598
👍

[2016-12-10 05:19] sritchie commented on #497
@isnotinvain we can definitely pick this up now that we have the algebra dep!

[2016-12-12 18:03] johandahlberg opened #606 "Making BloomFilter polymophic"
Hi!

I've been playing around with making the Algebirds Bloom Filters polymorphic, and I'm wondering if there is any interest in a PR for this?

As it stands right now I've implemented this using a implicit view from `A => Array[Byte]`, making things look something like this (translating from the usage example on the website):

[code]

I think it's kind of neat, however I completely understand if

[2016-12-13 03:52] johnynek commented on #606
Yeah, bloom filter needs a lot of work. We should do what you describe as was done for CMS and HLL.

We should also optimize bloom filter more. It was a contribution that has not received the attention that other aspects of the code have.

We should add benchmarks and improve them.

Lastly, it would be interesting to see if we could remove the dependency on java ewah. I'm not sure it is actually f

[2016-12-13 13:33] sritchie commented on #577
Thanks for handling this!

[2016-12-13 13:33] #577 closed

[2016-12-13 13:33] #378 closed

[2016-12-13 13:34] sritchie commented on #143
Is this something we still care about, @johnynek? With the micro site and scaladocs I'm going to say no...

[2016-12-13 13:35] sritchie commented on #606
@johandahlberg We'd love a PR with these ideas if you're interested!

[2016-12-13 15:13] johnynek commented on #143
Yeah, this never materialized as a thing.

[2016-12-13 15:13] #143 closed

[2016-12-22 16:02] Gaglia88 opened #609 "Using the MinHasher"
Hi,
I'm trying to use MinHasher to compute LSH using differents profiles, each profiles has a list of tokens (a bag of words).
If I understand right the process to do is:
1. For each profile create an hash for each token using the _minHasher.init_ method , this step produces a list of (profileID, [tokens hashes])
2. For each profile using the method _minHasher.sum_, sum all generated hashes, now I

[2016-12-22 17:02] avi-stripe commented on #609
The process is right. I haven't read your code in detail but on a quick scan it looks right. The similarity here is fairly low (I'm used to trying to match jaccard similarities closer to the 0.8 or 0.9 range) but you do have the threshold set quite low as well, so it should work. Have you:
* tested two identical profiles to see if at least *those* match up (the buckets should be identical)
* teste

[2016-12-22 18:07] Gaglia88 commented on #609
Hi, thanks for your reply.
I was not really sure that the process that I have implemented was right.

I tested the algorithm with two identical profiles, and they map in the same buckets! Thanks for the hint.

So I think I have made an error in the process of mapping (profile, [buckets]) to (bucket, [profile])
I will check it.

EDIT:
The problem was the last flatmap, I don't know why but it didn't

[2017-01-04 10:42] johandahlberg commented on #606
This was closed by #607.

[2017-01-04 10:42] #606 closed, assigned to nobody

[2017-01-12 03:50] johnynek opened #613 "SpaceSaver.fromBytes yield a failure on bad Array[Byte] is flakey"
we should not use scalacheck for this.

We should use a few known bad examples. The problem is that certain inputs cause the code to allocate a ton of RAM, which causes OOM, which is not caught by the code.

We *may* be able to fix by just catching OOM in test, but maybe best to just not generate such inputs.

[2017-01-17 17:24] andrewsmartin commented on #574
Hey @sritchie, thanks for this! Do you have any idea when we can expect a release to be published?

[2017-01-18 20:35] johnynek commented on #613
#614 fixed this I think.

[2017-01-18 20:35] #613 closed, assigned to nobody

[2017-01-18 20:37] johnynek commented on #593
#610 did a lot here. The way to do more would be to have a more efficient immutable bitset.

[2017-01-18 20:37] #593 closed, assigned to nobody

[2017-01-18 20:43] johnynek opened #615 "use algebra types more"
Algebra (and cats-kernel) have many types we don't have in algebird. The main ones we should use are the ones for commutativity and idempotence.

This will at least signal to users what properties those Monoids/Semigroups have. This will be useful for summingbird which now requires a user to explicitly communicate that.

[2017-02-02 23:55] johnynek commented on #574
I want #620 in, then I'm ready.

[2017-02-06 18:58] johnynek opened #621 "Add query methods to CMSSummation"
https://github.com/twitter/algebird/blob/develop/algebird-core/src/main/scala/com/twitter/algebird/CountMinSketch.scala#L150

If we had that, we could reuse CMSSummation as a mutable CMS.

[2017-02-06 18:58] johnynek commented on #621
cc @non

[2017-02-17 19:45] johnynek commented on #583
this is still flakey:

`AdaptiveVector[Int] has a monoid`

[2017-02-23 22:39] mio-stripe commented on #583
Hi all, two questions

1. Could we add two more cases to [`AVSemigroup.plus`](https://github.com/twitter/algebird/blob/1520068ae296d65ce3c4af7a0dc40137349f76f0/algebird-core/src/main/scala/com/twitter/algebird/AdaptiveVector.scala#L98-L112) to check if either argument `isZero`
[code]
This bug is happening because the size of the result is getting set to the larger of the two arguments which is the

[2017-02-23 23:04] mio-stripe commented on #583
Whoops! Scratch (2), I get it now: `isZero` should return `true` on `val c = SparseVector(Map(0 -> 0, 1 -> 0, 2 -> 0), 2, 3)` where the `sparseValue` is not `Monoid.zero`, but all of its values _are_ `Monoid.zero`.

Okay, so I maintain that `isZero` and `isNonzero` are working correctly; the problem is that `plus` does not make sure that neither of its arguments is zero.

[2017-02-27 10:05] vertexclique commented on #560
Any updates on this ?

[2017-02-27 13:11] sritchie commented on #560
Hey Mahmut,

This is currently a placeholder issue for anyone in the community that
wants to try their hand at the implementation. I don't think anyone has
claimed it yet.

On Monday, February 27, 2017, Mahmut Bulut <notifications@github.com> wrote:

--
Sam Ritchie, Stripe Inc.

(Too brief? Here's why! http://emailcharter.org)

[2017-02-28 16:08] dasch opened #626 "A monoid for sliding time window aggregations"
I've started using Algebird in conjunction with Google Dataflow, which works great! My main data structure is a deeply nested case class that is implicitly a monoid – it contains a bunch of stuff, mainly time-sorted Max values (such that I only keep the most recent version of some value).

My needs are a bit specific, though, and the built-in time window aggregation semantics are causing  some com

[2017-03-07 00:30] MansurAshraf opened #628 "HLL size estimate for Low cardinality set"
I thought with 16 bits estimate would be much closer to the real value for such a small input. Is this the expected behaviour or am I doing something wrong? //cc @johnynek

[code]

[2017-03-07 00:39] MansurAshraf commented on #628
I think this is because HLL only support positive values but trying to find if its documented somewhere

[2017-03-07 00:40] johnynek commented on #628
is there a hash collision by chance?

The sign shouldn't matter since you are mapping it to `Array[Byte]`.

[2017-03-07 00:45] MansurAshraf commented on #628
How do I verify hash collision? Basically my property tests are consistently failing for some values.
`List(-8630290981921164368L, -4443196221513724089L)` is another input that fails consistently

[2017-03-07 00:46] johnynek commented on #628
[code]

[2017-03-07 00:47] MansurAshraf commented on #628
right its not failing for all values, but some values generated by scalacheck

[2017-03-07 00:50] johnynek commented on #628
hash collision:
[code]

[2017-03-07 00:51] johnynek commented on #628
surprising to find it.

[2017-03-07 00:56] johnynek commented on #628
Work around is to customize the hash function perhaps if you have not serialized hashes already.

Here is one that xors the long into the hash function after, which might reduce collisions for Longs.

[code]

[2017-03-07 01:04] MansurAshraf commented on #628
can we make this new hash function as default or thats not possible?

[2017-03-07 01:07] johnynek commented on #628
That would break anyone that has serialized old HLLs. And also we don't know that has fewer collisions anyway (it may still have just as many).

You could do some testing and try to find a `Hash128` that has no collisions on Longs (it is possible, 64 bits to 128 bits clearly does not have to collide), but you also want some nice properties of the bits (i.e. they are as likely to be 0 as 1).

Once

[2017-04-04 17:28] mio-stripe commented on #583
Now that I've poked around, a couple qs about what the semantics should be.

1. Is `denseEquiv`--having the same non-sparse values at the same indices, but being of possibly different lengths--the right notion of equivalence? This makes sense algebraically so I argue: yes. If you are doing machine learning, though, different-length vectors mean different things--they have different features--but g

[2017-04-04 17:41] johnynek commented on #583
I *think* the only use of `AdaptiveVector` is for sketchmap. I *think* we never change the size of a densevector.

I'm happy adding some better constraints and saying that two densevectors are only equal if they have the same length. I think we should do the more complex thing for sparse vs dense.

[2017-04-04 17:53] mio-stripe commented on #583
Same length for dense, not-necessarily the same length for sparse makes perfect sense so I'll do that and address the adding sparse values issue, too.

Okay, I see, `AdaptiveVector` is used in `AdaptiveMatrix` (and related things), which then gets used in `SketchMap` and that's about it.

[2017-05-22 18:33] cacts opened #632 "Size on saturated bloom filter throws an exception"
using the following example:

[code]

we get:

in previous versions (0.11.0) the Approximate returned by size would be invalid, but now throws an exception due to the assertion.

[2017-06-06 13:17] Gaglia88 opened #634 "The MinHasher execution depends by the number of nodes"
Hi,
I am using the Minhasher32 to create clusters of similar records, tokenizing the records values to create the signatures (as I explained here https://github.com/twitter/algebird/issues/609), but seems that the resulting buckets depends by the Spark configuration.
I executed the same code on a single node of a cluster machine with 16 cores more times and I always obtained X number of buckets. T

[2017-06-06 18:43] Gaglia88 commented on #634
I confirm that the bucket generation depends by the level of Spark parallelism.
I made a test on my laptop, repartitioning the token before initializing the MinHasher

[code]

At the same level of repartition I always obtains the same buckets, if I change it, I obtain different buckets.

[2017-07-01 06:36] pwqw commented on #560
I'm happy to look into this and take this on @sritchie

[2017-07-01 13:49] sritchie commented on #560
Peter, that sounds fantastic! Looking forward to seeing what you come up
with.

On Sat, Jul 1, 2017 at 12:36 AM Peter Wang <notifications@github.com> wrote:

[2017-07-11 00:59] ttim opened #635 "`Successible` should be `Serializable`"
Most of our type classes are `Serializable`, including `Predecessible`. Same should apply to `Successible`.

[2017-07-21 09:20] gamebusterz commented on #559
Hi, I'd like to take this up, can you please point me in the right direction.
What I understand from the issue is that 'return the median value instead of the min on query.' and use [this paper](http://www.aclweb.org/anthology/D12-1100) . Can you be a little more descriptive ? Also, which part of the code should I be looking at ?

[2017-08-10 15:08] lvc opened #638 "API changes review for Algebird Core"
The review of API changes for the Algebird Core library since 0.8.0: https://abi-laboratory.pro/java/tracker/timeline/algebird-core/

The report is updated three times a week. Hope it will be helpful for users and maintainers of the library.

The report is generated by https://github.com/lvc/japi-tracker and https://github.com/lvc/japi-compliance-checker tools.

Thank you.

![algebird-1](https://u

[2017-08-12 19:45] johnynek commented on #638
This is really awesome. I would love to have this tool running in CI against each PR.

[2017-09-05 07:42] lrytz opened #640 "Using the inliner (-opt:l:classpath) causes binary incompatible releases"
Algebird 0.13.0 for Scala 2.12 (built with Scala 2.12.1) is not binary compatible with Scala 2.12.3, which causes a `NoSuchMethodError` at run-time. This is because inlining from the classpath is enabled in the build (https://github.com/twitter/algebird/blob/0.13.0/build.sbt#L80-L85).

From the [2.12.0 release notes](http://www.scala-lang.org/news/2.12.0/):

Note that 2.12.3 deprecates `-opt:l:cla

[2017-09-05 07:43] lrytz commented on #640
Details on the binary incompatibility here: https://github.com/scala/bug/issues/10489#issuecomment-327097429

[2017-09-05 17:02] johnynek commented on #640
we have an open PR on this now:

https://github.com/twitter/algebird/pull/639

[2017-09-05 17:10] johnynek commented on #635
closed by: https://github.com/twitter/algebird/commit/3b78165ca3f0a6cb6ba3de6467f4fe1fce5c4b75

which I accidentally pushed to develop. It is so trivial, I don't want to bother with the revert unless someone is really concerned.

[2017-09-05 17:10] #635 closed, assigned to nobody

[2017-09-10 04:53] johnynek commented on #628
closing this since we got to the bottom of it, and we don't want to change the hash functions for fear of wrecking serialized data.

Users affected are encouraged to implement their own Hash128.

[2017-09-10 04:53] #628 closed, assigned to nobody

[2017-09-11 21:22] snoble opened #642 "New point release that includes BigDecimal semigroup"
In particular it would be valuable to have a point release that includes https://github.com/twitter/algebird/commit/757712c3eb872b478153c8c1de934d00dcf87f28

Many thanks!

[2017-09-11 22:00] johnynek commented on #642
@piyushnarang would you have any time for this when (if) you do bijection?

[2017-09-14 00:54] johnynek commented on #642
@piyushnarang I think we are almost ready if we can merge #643

It would help us to be able to publish. Do you have time or can you give me the 👍  to publish?

[2017-09-14 02:40] #640 closed, assigned to nobody

[2017-09-14 02:41] johnynek commented on #642
I think develop is in shape to be the new point release.

[2017-09-14 17:25] piyushnarang commented on #642
@johnynek I'm in favor of a release, I'm guessing it's going to be 0.13.1? I'm probably not going to have time to get to it, but if you've got the sonatype perms etc feel free to do so.
@pankajroark wdyt?

[2017-09-14 17:28] oscar-stripe commented on #642
I think actually it can be 0.12.x since mima should be running.
I'll re-run.

[2017-09-14 17:28] pankajroark commented on #642
👍

[2017-09-14 17:30] oscar-stripe commented on #642
oh yeah, that is 0.13.1... sorry, you are right @piyushnarang

[2017-09-14 17:36] oscar-stripe commented on #642
just re-ran mima. Looks clean with `0.13.0`. Will republish.

[2017-09-14 17:58] piyushnarang commented on #642
Ok great, thanks!

[2017-09-14 19:56] johnynek commented on #642
https://github.com/twitter/algebird/releases/tag/v0.13.1

[2017-09-14 19:56] #642 closed, assigned to nobody

[2018-02-08 21:48] nuria commented on #517
Some beginners bug these are. I do not understand this correction of instantiating Qtree like : QTree(2^16 *2,-16,1,_,None,None)

Maybe this is the syntax?  somelist.map(x =>QTree(x*65536,-16,1,x,None,None)) for 16 digits precision

[2018-07-28 22:48] tovbinm opened #661 "Tuple2 implicits do not work with Arrays"
The following code fails to compile:
[code]
unless we explicitly add:
[code]

Tested with Algebird 0.13.4 and Scala 2.11.12

[2018-07-28 23:07] tovbinm commented on #661
In fact, same happens with simple tuples as well:
[code]

[2018-07-29 00:56] johnynek commented on #661
Huh. This is very strange. Can you make a PR with a test to demonstrate the failure.

We use tuples with Semigroups all the time.

Why are you importing `Monoid._`? I wonder if you are setting up a conflicting implicit and scala just silently fails when two implicits can be found.

[2018-07-29 14:50] tovbinm commented on #661
The `Monoid._` is mainly needed because of the [`ArrayMonoid`](https://github.com/twitter/algebird/blob/develop/algebird-core/src/main/scala/com/twitter/algebird/Monoid.scala#L327)

[2018-07-29 15:34] tovbinm commented on #661
Here you go - https://github.com/tovbinm/algebird/commit/776cfe12f23e78cf7b90855427dc656049a8030d

[2018-07-29 15:35] tovbinm commented on #661
Also, I think I found what's the problem - import order matters (at least in the test):
This would fail:
[code]
This works:
[code]

But in my project import order does not matter, so the problem persists.

[2018-07-29 15:45] tovbinm commented on #661
Here is the failure again in Ammonite:
[code]

[2018-07-29 15:47] johnynek commented on #661
But scala should search the Monoid companion. What if you don’t try the
Monoid import?

On Sun, Jul 29, 2018 at 05:45 Matthew Tovbin <notifications@github.com>
wrote:

--
P. Oscar Boykin, Ph.D. | http://twitter.com/posco | http://pobox.com/~boykin

[2018-07-29 15:52] tovbinm commented on #661
Well, it assumes `String` in `+` operator then:
[code]

[2018-07-29 17:17] johnynek commented on #661
Honestly it’s not that common to use Operators with Algebird.

I can look into it, but in the meantime I recommend you use Semigroup.plus on the companion.

It is probably an ambiguous implicit somewhere.

[2018-08-26 10:53] cesarcolle commented on #560
I figure  no update on this issue has been published yet. I have started the development of the cuckoo filter in a monoid way, I base my  development on the BloomFilter (I am a beginner with Algebird) .

https://github.com/cesarcolle/algebird/blob/feature-cuckoo-filter/algebird-core/src/main/scala/com/twitter/algebird/CuckooFilter.scala

https://github.com/cesarcolle/algebird/blob/feature-cuckoo-f

[2018-08-29 13:08] cesarcolle commented on #632
I reproduce :
for an input like :
[code]
From the BloomFilter object, the size method use
[code]
return an _Approximate_ object like :

[code]

This fail with the :
[code]
 property of the Approximate object.
This issue can be handle from the BloomFilter or the Approximate object.

I can fix it but I don't know where to start :)

[2018-08-29 19:18] johnynek commented on #632
Great...

Step 1: send a PR with the failing test.
Step 2: lets investigate why the invariant is false, having an estimate of -1 when the min is 0 is a problem. We probably have some arithmetic issue here, or some other problem.
Step 3: fix the bug and watch PR go green.

Happy to review the code!

[2018-09-17 18:10] rban1 opened #668 "PriorityQueueMonoid- Is it strictly a monoid?"
Going by the definition of Monoid
The following properties are to be satisfied to be called a Monoid

Assosiativity- a op (b op c) = (a op b) op c
Left Identity-  zero op a = a
Right Identity a op zero = a

In such a case, PriorityQueueMonoid seems to be not strictly satisfying the identity laws as there is a case where if I have a queue > max size the identity will limit it to max size.

[2018-09-17 18:53] johnynek commented on #668
A queue that is already too long is not a valid input. We could enforce this with a private type wrapper that you have to call to get into. We don't do this.

If this is a concern for you, you can make a wrapper that does this and use that in your code.

Since this monoid has to be set up, it is not risky currently.

By the way, my current take is that parameterized monoids like this should have t

[2018-09-18 04:30] rban1 commented on #668
Thanks for your comment Oscar. Wondering if you think if this way of building monoids are in the right spirit though?

 For eg: In the priorityqueue monoid the restriction is on one dimension (size) and the claim is queue that is too long is not a valid input( which is being enforced by the build function)

To extend this, instead of one dimension if I have k dimensions and make the claim that mon

[2018-09-18 04:36] johnynek commented on #668
Well, SIP-35 is pretty much my top scala wishlist item: https://docs.scala-lang.org/sips/opaque-types.html but I don't know if I will see it anytime soon, sadly.

If we had SIP-35, we would do things like:
[code]

This would be nice.

That said, backwards compatibility is a huge concern for me so I would almost certainly not consider removing this monoid especially since it is already non-default.

[2018-11-06 22:20] tri-nomad opened #669 "Algebird-spark with Spark 2.{3, 4} and Scala 2.12"
We are trying to compile algebird-spark with Spark 2.4.0 and Scala 2.12.  We are seeing following errors
`error] Error while emitting AlgebirdRDD.scala
[error] 15859
[error] Error while emitting AlgebirdRDD.scala
[error] 10832
[error] Error while emitting package.scala
[error] assertion failed: ClassBType.info not yet assigned: Lorg/apache/spark/rdd/RDD;
[error] Error while emitting package.scala

[2018-11-07 04:15] johnynek commented on #669
I’d welcome a PR but we just haven’t gotten to it yet.

Shouldn’t be too much work.

[2019-01-23 21:46] SemanticBeeng commented on #626
@johnynek mentions something related here "scale.bythebay.io: Oscar Boykin, How to Elm-ify Your ML" https://youtu.be/k1jhDcruiLE?t=2142 but would like to see some code. :-)

[2019-01-23 23:10] sritchie commented on #626
We've got a pretty nice approximate sliding window implementation here: http://twitter.github.io/algebird/datatypes/approx/exponential_histogram.html

This might help!

[2019-01-23 23:10] sritchie commented on #626
cc @SemanticBeeng

[2019-02-14 21:36] regadas opened #671 "Scala 2.13.x"
Hello!

I was wondering if there's anything planned to cross compile to 2.13.
Probably some of the modules will not be possible for quite some time, like `algebird-spark`.

[2019-02-14 21:48] johnynek commented on #671
Happy to take PRs!

[2019-05-05 14:39] anish749 opened #675 "Idea: BloomFilterAggregator can directly rely on a BitSet instead of a BFMonoid"
@johnynek I was going through your talk [here](https://www.youtube.com/watch?v=kTyvu0uxPzg) from Scale by the Bay 2018 about immutable APIs and mutable internals.

I had a very rough idea about the `BloomFilterAggregator` and how it would look following the design pattern you discussed, I tried it in this [gist here](https://gist.github.com/anish749/426427f72c9c2fa00eaaa90ee03c8507)

Do you think

[2019-05-10 22:01] skonto commented on #671
I am wondering about the `algebird-spark` dependency. Spark requires chill and chill requires `algebird-core`. Can we have independent releases per module per scala version?

[2019-05-10 22:17] johnynek commented on #671
We can, but it is a pain with SBT. But doable. We have done it in the past before spark has 2.12 support.

[2019-07-02 12:45] ayoub-benali commented on #671
Is this issue worked on ?

[2019-07-02 16:15] johnynek commented on #671
I don’t know if anyone is working on it now. The other ticket referenced above had some blockers.

[2019-10-02 16:37] regadas commented on #671
Hi, just wanted to let you know that I got around to compile `algebird-core` with `2.13` I should be able to PR something soonish ™️

[2019-10-02 16:54] johnynek commented on #671
Amazing! That’s really great.

[2019-10-02 17:27] johnynek opened #716 "use fast immutable bitset for better bloom filter"
see: https://github.com/typelevel/cats-collections/blob/master/core/src/main/scala/cats/collections/BitSet.scala

@non and I implemented that to see if we could make a fast, sparse, immutable bitset. We could! In fact, for some operations it is faster than mutable, and for the use case of a Monoid where we have to copy inputs, it is much faster.

We could copy that implementation into Algebird and

[2019-10-04 10:48] anish749 commented on #716
I had tried out this implementation from cats and have the code in [this branch](https://github.com/anish749/algebird/blob/cats-no-sparse/algebird-core/src/main/scala/com/twitter/algebird/BloomFilter.scala)
It does not have for persistence or moving the old implementation to `algebird.legacy`

It is indeed much faster.

The benchmark results are [here](https://github.com/twitter/algebird/pull/673#

[2019-10-08 23:23] regadas commented on #671
@johnynek is it still important to keep support for 2.10?

The reason I'm asking is because some deps needed for 2.13 stopped being published for 2.10. This leads us to situation where we might have cross compilation with different dep versions. I don't think this is ideal and should be avoided.

[2019-10-16 03:23] SethTisue commented on #671
continued support for 2.10 is becoming increasingly rare in Scala OSS. dropping it sounds reasonable to me

[2019-10-17 16:24] johnynek commented on #671
Yeah, dropping 2.10 is fine.

[2019-10-19 20:53] ghost opened #733 "The GeneratedTupleAggregator is not recognized"
Hello world ,

I am trying to use the source code of Algebird by taking only he packages algebird, matrix , mutable and macros. My goal is to create a dense matrix from scratch using the scala programming language without calling ( com.twitter.algebird ). However I found a problem in the aggregator.scala; the aggregator has no an instance fromMonoid ( the object fromMonoid[T], fromMonoid[F,T]  re

[2019-10-19 21:17] johnynek commented on #733
I'm not 100% clear what you are trying to do.

Can you be clearer why you don't want to use the published binary jars?

Aggregator.fromMonoid is defined here:
https://github.com/twitter/algebird/blob/d17ba8978b9526cdf6c97e3dfae273ea6a501097/algebird-core/src/main/scala/com/twitter/algebird/Aggregator.scala#L38

https://github.com/twitter/algebird/blob/d17ba8978b9526cdf6c97e3dfae273ea6a501097/build

[2019-10-19 22:31] ghost commented on #733
Hey Johnynek ,

Thanks for your response. I do appreciate that. Yes i do want to make a new build. What I need is to create denseMatrix that is it. The package algebid-core is sufficient for me. I am already using the class aggregator where the "GeneratedTupleAggregator " is not recognized.  I don't know if I have to copy the GeneratedTupleAggregator.scala to the project file or I have to use the

[2019-11-05 11:03] h-vetinari commented on #671
Xref #719, which added 2.13 support for all but
- [ ] algebird-bijection (blocked on twitter/bijection#287)
- [ ] algebird-spark

Also, 2.10 was dropped in #721.

[2019-11-07 18:51] johnynek opened #741 "Add combinators on Semigroup, Monoid, Aggregator to reverse order."
see comment here:

https://github.com/twitter/algebird/pull/739#discussion_r343814345

reversing the order of semigroup preserves it being a semigroup, as does putting a constant element between every pair. This could be a combinator on semigroup that we could propagate up to other Semigroup related abstractions, e.g. Aggregator, Fold, Scan.

[2019-11-07 18:53] johnynek opened #742 "flakey test: downsiding HLL to 4 bits"
[code]

I think what may be happening here is that 4 bits are too small for the std-dev to be a very accurate model, and as such the test is too strict.

[2019-11-07 18:53] johnynek commented on #742
duplicate of #572

[2019-11-07 18:54] #742 closed, assigned to nobody

[2019-12-16 17:47] johnynek opened #762 "investigate flaky test on AdaptiveVector"
[code]

[2020-01-14 22:55] regadas commented on #716
I'm looking a bit into this ... I'll make a draft PR so we can talk about it and I'll post some numbers as well.

@johnynek you want to keep the old impl in `legacy` right?

[2020-01-14 23:05] johnynek commented on #716
@regadas Ideally, I really hate to leave people high-and-dry.... So, the most compatibility we can retain the better.

That said, the above numbers seem ambiguous: like, using the immutable bitset was only a win for some cases. It would be nice if we could tweak things so that we always have a win.

We can copy the implementation into this repo, I think, especially if we might want to try some opt

[2020-01-19 00:24] regadas commented on #716
Sorry for the late reply @johnynek!

Totally agree, I moved the current impl into a `legacy` package. It's also in our best interest to keep since we can run benchmarks against it 😄

In the numbers below I think i managed to get it on par with the `legacy` impl in the cases where it didn't perform that well. Even with this we could potentially go forward with since the `BloomFilter` is simpler and

[2020-01-20 21:13] regadas commented on #716
@johnynek I was looking at this and I didn't actually commented the sized bloom filter;

These are very good points! it's easy to make a mistake and yeah improving on serialization is always a big plus. I guess we should really explore the idea, but before that I just wanted to see how far we could take the new BitSet and see if we could actually replace the existing one.

[2020-01-28 22:57] regadas commented on #671
`algebird-bijection` support is added in https://github.com/twitter/algebird/pull/776

TBH I don't know the status of `spark` supporting 2.13. I guess it will take awhile.

Should we close this issue?

[2020-01-28 23:20] #671 closed, assigned to regadas

[2020-01-28 23:21] johnynek commented on #671
Thanks, I guess spark support will have to wait until spark 3?

[2020-02-01 15:52] regadas commented on #741
Hi @johnynek just saw your change @ https://github.com/typelevel/cats/pull/3279 ... I think it will be handy for this one.

[2020-05-07 01:47] regadas opened #817 "Latest version published with `-optimize`"
By compiling with `-optimize` means that code in classpath get's inlined. This of course will break the binary compatibility promises and that's why I encountered https://github.com/scala/bug/issues/11981.

[2020-07-18 07:25] regadas commented on #817
Closed via #818

[2020-07-18 07:25] #817 closed, assigned to regadas

[2020-07-18 07:30] regadas commented on #669
As of `0.13.5` `algebird-spark` is cross-compiled to 2.12 and spark >=2.4.0

[2020-07-18 07:30] #669 closed, assigned to nobody

[2020-07-29 18:59] johnynek opened #851 "configure mergify.io"
This has been approved for this repo by our Twitter friends.

The goal is to automatically merge green PRs from scala-steward to keep things up to date.

We need to add a file like this:
https://github.com/scala-steward-org/scala-steward/blob/master/.mergify.yml

cc @regadas

[2020-08-06 06:52] regadas commented on #851
Hi @johnynek! To be honest I'm a bit hesitant merging deps like that on a library, but looking at `algebird`'s deps it might be ok. Let's give it a try.

[2020-08-09 00:43] fermifrankie opened #854 "H"

[2020-08-09 01:05] #854 closed, assigned to nobody

[2020-08-13 07:00] regadas opened #856 "Investigate flaky `com.twitter.algebird.CollectionSpecification` test"
https://github.com/twitter/algebird/runs/7812911450?check_suite_focus=true

[code]

[2021-02-25 07:33] patil2097 commented on #582
@sritchie-stripe  I would love to work on this issue. Let me know if this is still available.

[2021-02-25 11:07] regadas commented on #582
@patil2097 that would be awesome. 👍

It should be fairly easy these days with github actions. We could however deploy when we do a release instead.

[2021-02-25 12:09] patil2097 commented on #582
Is there a script to build the docs and website  or we directly use the folders here ?

[2021-02-26 19:34] enricoap commented on #454
Is this issue still open? The test seems to work fine for me.

[2021-04-06 10:12] hattias opened #942 "Possible buffer overflow for lengths over 127. Why are you doing .toByte in order to represent an integer size of 4 bytes? For example item length of 184 will result in -72 and thus in NegativeArraySize Exception when deserializing in fromBytes : 94."
https://github.com/twitter/algebird/blob/0fad815d5900f6e6b6e27a0cb367d162f057d59b/algebird-core/src/main/scala/com/twitter/algebird/SpaceSaver.scala#L48

[2021-04-06 10:13] hattias opened #943 "Possible buffer overflow for lengths over 127."
https://github.com/twitter/algebird/blob/0fad815d5900f6e6b6e27a0cb367d162f057d59b/algebird-core/src/main/scala/com/twitter/algebird/SpaceSaver.scala#L48

Why are we doing .toByte in order to represent an integer size of 4 bytes? For example item length of 184 will result in -72 as a byte and thus in NegativeArraySizeException when deserializing in fromBytes : 94.

Am I missing something?

[2021-04-06 11:44] #942 closed, assigned to nobody

[2021-04-06 11:44] hattias commented on #942
duplicate, created by mistake.

[2021-04-06 21:50] johnynek commented on #943
Yeah, that seems wrong to me. If an item serializes to more, it should fail.

We could write a test where each item is 200 bytes or something, then it should fail.

I hate to fix bugs without tests showing the bug first, and then it going green after the fix.

[2021-04-07 08:21] hattias commented on #943
quickly confirmed using
[code]
returns
`Failure(java.lang.NegativeArraySizeException: -56)`

I can create a PR with this as a test in SpaceSaverTest.

[2021-04-07 09:02] regadas commented on #943
Nice catch! yeah, it would be awesome if you could create a PR 🙏 Thanks!

[2021-04-07 17:44] hattias commented on #943
I'm getting a 403 so maybe I don't have the right perms, anyway here's the test that demonstrates the issue and can be added in ```SpaceSaverTest``` :

[code]

[2021-04-12 15:53] eddiehatfield commented on #562
This is kind of old but it sounds like a fun project. What would the deliverable for this "investigation" be, exactly? I'd love to check it out.

[2021-05-10 18:13] johnynek opened #959 "SparseVector monoid flake"
Test message:
[code]

[2021-05-14 23:38] regadas commented on #716
Closed via https://github.com/twitter/algebird/pull/840

[2021-05-14 23:38] #716 closed, assigned to nobody

[2021-05-14 23:43] regadas opened #969 "New release?"
Hi @johnynek!

I was thinking that we could cut a new release; we haven't done one in awhile.

for this one we have:
* scala 2.13.5
* a bunch of dep updates
* the immutable bloom filter
* fixes

wdyt?

[2021-05-14 23:49] johnynek commented on #969
Sounds good to me.

I think we have the automatic tag based publish here. IIRC.

[2021-05-15 00:45] #943 closed, assigned to nobody

[2021-05-17 13:33] regadas commented on #969
Cool! I'll take a look at it later then.

[2021-05-20 20:12] johnynek commented on #572
I guess this is actually buggy:
[code]

Exact result 5014, but the 99.72% confidence interval is 496 to 4020? Yeah, that doesn't make sense.

I imagine there is a bug with either the way downsizing works, the estimate, or the confidence interval.

[2021-05-21 22:11] regadas commented on #969
https://github.com/twitter/algebird/releases/tag/v0.13.8 is out. Thank you!

[2021-05-21 22:11] #969 closed, assigned to nobody

[2021-05-21 23:00] johnynek commented on #969
Thanks, this is great!

I guess we need a scala 3 build eventually...

[2021-10-28 09:27] eejbyfeldt opened #1020 "Release cadance of algebrid, next planned release?"
Currently we are using the latest version of algebird 0.13.8. This is preventing us from upgrading to the latest version of scala 2.12 since because 0.13.8 depends on 2.4.4 scala-collection-compat and we are hitting this bug: https://github.com/scala/scala-collection-compat/issues/397

This and a lot of other dependencies has been updated in the develop branch:
[code]

Is there some planned releas

[2021-10-28 12:25] regadas commented on #1020
Hi @eejbyfeldt Thanks for bringing this up!

I've actually thought of doing a maintenance release since we have quite a lot of new dependency updates! I think you just gave me motivation 😄

@johnynek not sure if you have anything in mind otherwise I'll go ahead with it and release a `0.13.9`.

[2021-10-28 16:47] johnynek commented on #1020
Sounds good to me.

[2021-11-04 07:47] eejbyfeldt commented on #1020
@regadas Any progress on this? Is there anything I can help out with to make the release happen?

[2021-11-04 16:34] regadas commented on #1020
Hi @eejbyfeldt The new release is out [v0.13.9](https://github.com/twitter/algebird/releases/tag/v0.13.9)

Thanks for reaching out!

[2021-11-04 16:35] #1020 closed, assigned to nobody

[2021-11-04 16:45] johnynek commented on #1020
Thanks so much @regadas !

[2022-04-07 11:48] #360 closed

[2022-08-10 21:32] jordanrule commented on #856
I'm looking for a good first issue to look at in this repo, and am not able to reproduce:

[code]

Under what conditions does this test fail?

[2022-08-10 21:47] jordanrule commented on #621
Am I reading this ticket right in that you just want an accessor/mutator for the private vals in CMSSummation?  I'm looking for a good introductory ticket and this could be a good one.

[2022-08-10 21:49] johnynek commented on #856
some of the tests in this repo are statistical tests about probability data structures. When you make some claim, it can often be false with some small probability. When we run the tests over and over (CI for different versions, or dependency updates) we tend to hit these.

If we weaken the tests so much that never happens, then the tests are also very weak (in some cases trivial, in that they wou

[2022-08-10 21:50] sritchie commented on #856
Maybe @regadas can post a link to a build that failed and triggered this issue, but flaky here means that the failure is random and intermittent due to generative testing. So the task would be to find a build around when this issue was filed that failed this test, and then run a unit test version of the generative test with the generated values that caused the failure. That will help you track dow

[2022-08-10 21:52] johnynek commented on #621
see:

https://github.com/twitter/algebird/blob/c18a6b7c86c34e8cc7b3747fc1ea83d42c8b5410/algebird-core/src/main/scala/com/twitter/algebird/CountMinSketch.scala#L425

frequency, innerProduct, totalCount.

The idea is those should also be on the CMSSummation so you don't need to allocate to make queries like that in a mutable context (which is nice to avoid, but not always easy to and retain the high

[2022-08-10 21:53] sritchie commented on #856
Jinx @johnynek !

[2022-08-10 21:56] jordanrule commented on #856
Got it.  I'll look into fixing a seed: that sounds like a reasonably clean solution to taking care of all these flaky tests if the maintainers are fine without a randomized seed.

[2022-08-11 15:20] regadas commented on #856
Hi, y'all! I believe I did a bad job here since I didn't attach the relevant info and now the build logs are gone so pinpointing this will be hard. Sorry about that! 🙏

Locally IIRC, I wasn't able to replicate it. So... I guess we can wait and see if some build fails again with it and update this accordingly? 🤷

[2022-08-19 13:40] regadas commented on #856
Haven't looked into it yet but got a build failure related to this. Adding this to the issue body as well.

https://github.com/twitter/algebird/runs/7812911450?check_suite_focus=true

[code]

[2022-08-19 14:47] sritchie commented on #856
Good example, and I bet manually reducing the dimension way down would still trigger a failure. A good case!